{
 "cells": [
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-29T09:38:46.748573Z",
     "start_time": "2024-12-29T09:38:38.711415Z"
    }
   },
   "cell_type": "code",
   "source": [
    "import numpy as np\n",
    "from IPython.display import Image, display\n",
    "import pandas as pd\n",
    "import sqlalchemy as sa\n",
    "import wikipediaapi\n",
    "import requests\n",
    "import json\n",
    "\n",
    "from pandas.core.interchange.dataframe_protocol import DataFrame\n",
    "\n",
    "engine = sa.create_engine('postgresql://postgres:postgres@localhost:5432/movies')\n",
    "wiki_wiki = wikipediaapi.Wikipedia('IUMTWEBProject (lorenzo.sacchetti916@edu.unito.it)', 'en')\n",
    "output_path = \"./normalized_tables/\"\n",
    "\n",
    "movies_df = pd.read_csv('../../dataset/movies.csv').set_index('id')\n",
    "actors_df = pd.read_csv('../../dataset/actors.csv').set_index('id')\n",
    "countries_df = pd.read_csv('../../dataset/countries.csv').set_index('id')\n",
    "crew_df = pd.read_csv('../../dataset/crew.csv').set_index('id')\n",
    "genres_df = pd.read_csv('../../dataset/genres.csv').set_index('id')\n",
    "languages_df = pd.read_csv('../../dataset/languages.csv').set_index('id')\n",
    "posters_df = pd.read_csv('../../dataset/posters.csv').set_index('id')\n",
    "releases_df = pd.read_csv('../../dataset/releases.csv').set_index('id')\n",
    "studios_df = pd.read_csv('../../dataset/studios.csv').set_index('id')\n",
    "themes_df = pd.read_csv('../../dataset/themes.csv').set_index('id')\n",
    "\n",
    "movies_df"
   ],
   "id": "331cbcb1e491dadb",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                      name    date  \\\n",
       "id                                                   \n",
       "1000001                             Barbie  2023.0   \n",
       "1000002                           Parasite  2019.0   \n",
       "1000003  Everything Everywhere All at Once  2022.0   \n",
       "1000004                         Fight Club  1999.0   \n",
       "1000005                         La La Land  2016.0   \n",
       "...                                    ...     ...   \n",
       "1941593                                 神笛     NaN   \n",
       "1941594                      蟲極道蜜団子抗争編 壱ノ巻     NaN   \n",
       "1941595                      蟲極道蜜団子抗争編 弐ノ巻     NaN   \n",
       "1941596                                 重生     NaN   \n",
       "1941597                             青ひげ公の城     NaN   \n",
       "\n",
       "                                                  tagline  \\\n",
       "id                                                          \n",
       "1000001                  She's everything. He's just Ken.   \n",
       "1000002                       Act like you own the place.   \n",
       "1000003  The universe is so much bigger than you realize.   \n",
       "1000004                           Mischief. Mayhem. Soap.   \n",
       "1000005                    Here's to the fools who dream.   \n",
       "...                                                   ...   \n",
       "1941593                                               NaN   \n",
       "1941594                                               NaN   \n",
       "1941595                                               NaN   \n",
       "1941596                                               NaN   \n",
       "1941597                                               NaN   \n",
       "\n",
       "                                               description  minute  rating  \n",
       "id                                                                          \n",
       "1000001  Barbie and Ken are having the time of their li...   114.0    3.86  \n",
       "1000002  All unemployed, Ki-taek's family takes peculia...   133.0    4.56  \n",
       "1000003  An aging Chinese immigrant is swept up in an i...   140.0    4.30  \n",
       "1000004  A ticking-time-bomb insomniac and a slippery s...   139.0    4.27  \n",
       "1000005  Mia, an aspiring actress, serves lattes to mov...   129.0    4.09  \n",
       "...                                                    ...     ...     ...  \n",
       "1941593                                                NaN     NaN     NaN  \n",
       "1941594  Shinjuku forest at night. In the sap taverns o...    30.0     NaN  \n",
       "1941595  The city that never sleeps, where insects gath...    30.0     NaN  \n",
       "1941596  In a world where order has broken down, darkne...     NaN     NaN  \n",
       "1941597                                                NaN   130.0     NaN  \n",
       "\n",
       "[941597 rows x 6 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Barbie</td>\n",
       "      <td>2023.0</td>\n",
       "      <td>She's everything. He's just Ken.</td>\n",
       "      <td>Barbie and Ken are having the time of their li...</td>\n",
       "      <td>114.0</td>\n",
       "      <td>3.86</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Parasite</td>\n",
       "      <td>2019.0</td>\n",
       "      <td>Act like you own the place.</td>\n",
       "      <td>All unemployed, Ki-taek's family takes peculia...</td>\n",
       "      <td>133.0</td>\n",
       "      <td>4.56</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000003</th>\n",
       "      <td>Everything Everywhere All at Once</td>\n",
       "      <td>2022.0</td>\n",
       "      <td>The universe is so much bigger than you realize.</td>\n",
       "      <td>An aging Chinese immigrant is swept up in an i...</td>\n",
       "      <td>140.0</td>\n",
       "      <td>4.30</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000004</th>\n",
       "      <td>Fight Club</td>\n",
       "      <td>1999.0</td>\n",
       "      <td>Mischief. Mayhem. Soap.</td>\n",
       "      <td>A ticking-time-bomb insomniac and a slippery s...</td>\n",
       "      <td>139.0</td>\n",
       "      <td>4.27</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>La La Land</td>\n",
       "      <td>2016.0</td>\n",
       "      <td>Here's to the fools who dream.</td>\n",
       "      <td>Mia, an aspiring actress, serves lattes to mov...</td>\n",
       "      <td>129.0</td>\n",
       "      <td>4.09</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941593</th>\n",
       "      <td>神笛</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941594</th>\n",
       "      <td>蟲極道蜜団子抗争編 壱ノ巻</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Shinjuku forest at night. In the sap taverns o...</td>\n",
       "      <td>30.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941595</th>\n",
       "      <td>蟲極道蜜団子抗争編 弐ノ巻</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The city that never sleeps, where insects gath...</td>\n",
       "      <td>30.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>重生</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>In a world where order has broken down, darkne...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>青ひげ公の城</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>130.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>941597 rows × 6 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 1,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 1
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:50.210976Z",
     "start_time": "2024-12-28T20:37:50.208587Z"
    }
   },
   "cell_type": "code",
   "source": [
    "print(\"Movie columns:\" , movies_df.columns)\n",
    "print(\"Actors columns:\" , actors_df.columns)\n",
    "print(\"Countries columns:\" , countries_df.columns)\n",
    "print(\"Crew columns:\" , crew_df.columns)\n",
    "print(\"Genres columns:\" , genres_df.columns)\n",
    "print(\"Languages columns:\" , languages_df.columns)\n",
    "print(\"Posters columns:\" , posters_df.columns)\n",
    "print(\"Release columns:\" , releases_df.columns)\n",
    "print(\"Studios columns:\" , studios_df.columns)\n",
    "print(\"Themes columns:\" , themes_df.columns)\n",
    "#print(\"Oscar columns:\" , oscar_awards_df.columns)\n",
    "#print(\"Rotten columns:\" , rotten_tomatoes_df.columns)"
   ],
   "id": "eced3056cb546f01",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Movie columns: Index(['name', 'date', 'tagline', 'description', 'minute', 'rating'], dtype='object')\n",
      "Actors columns: Index(['name', 'role'], dtype='object')\n",
      "Countries columns: Index(['country'], dtype='object')\n",
      "Crew columns: Index(['role', 'name'], dtype='object')\n",
      "Genres columns: Index(['genre'], dtype='object')\n",
      "Languages columns: Index(['type', 'language'], dtype='object')\n",
      "Posters columns: Index(['link'], dtype='object')\n",
      "Release columns: Index(['country', 'date', 'type', 'rating'], dtype='object')\n",
      "Studios columns: Index(['studio'], dtype='object')\n",
      "Themes columns: Index(['theme'], dtype='object')\n"
     ]
    }
   ],
   "execution_count": 80
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "# Data Cleaning\n",
    "## Removing or replacing all the data that are not compliant with the dataset\n",
    "### Dataset types:\n"
   ],
   "id": "5bba6a39dd17979c"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "fetch and cast the data to their correct type",
   "id": "653b3805f27888"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:50.258235Z",
     "start_time": "2024-12-28T20:37:50.255189Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df.dtypes",
   "id": "d19ec55587626093",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "name            object\n",
       "date           float64\n",
       "tagline         object\n",
       "description     object\n",
       "minute         float64\n",
       "rating         float64\n",
       "dtype: object"
      ]
     },
     "execution_count": 81,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 81
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:50.543351Z",
     "start_time": "2024-12-28T20:37:50.371483Z"
    }
   },
   "cell_type": "code",
   "source": [
    "movies_df['name'] = movies_df['name'].astype(pd.StringDtype())\n",
    "movies_df['tagline'] = movies_df['tagline'].astype(pd.StringDtype())\n",
    "movies_df['description'] = movies_df['description'].astype(pd.StringDtype())\n",
    "movies_df['date'] = movies_df['date'].astype('Int64')"
   ],
   "id": "5a54a53d880e42cd",
   "outputs": [],
   "execution_count": 82
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:50.606908Z",
     "start_time": "2024-12-28T20:37:50.604523Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df.dtypes",
   "id": "46c17c40207b0ef6",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "name           string[python]\n",
       "date                    Int64\n",
       "tagline        string[python]\n",
       "description    string[python]\n",
       "minute                float64\n",
       "rating                float64\n",
       "dtype: object"
      ]
     },
     "execution_count": 83,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 83
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:50.680165Z",
     "start_time": "2024-12-28T20:37:50.677945Z"
    }
   },
   "cell_type": "code",
   "source": "actors_df.dtypes",
   "id": "a81fe0aa36bc7a85",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "name    object\n",
       "role    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 84,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 84
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.085865Z",
     "start_time": "2024-12-28T20:37:50.732355Z"
    }
   },
   "cell_type": "code",
   "source": [
    "actors_df['name'] = actors_df['name'].astype(pd.StringDtype())\n",
    "actors_df['role'] = actors_df['role'].astype(pd.StringDtype())"
   ],
   "id": "1d2b176264549c9d",
   "outputs": [],
   "execution_count": 85
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.110979Z",
     "start_time": "2024-12-28T20:37:51.109146Z"
    }
   },
   "cell_type": "code",
   "source": "countries_df.dtypes",
   "id": "ba674cd555cfcc16",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "country    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 86,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 86
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.168895Z",
     "start_time": "2024-12-28T20:37:51.158685Z"
    }
   },
   "cell_type": "code",
   "source": "countries_df['country'] = countries_df['country'].astype(pd.StringDtype())",
   "id": "e2f4a1238b3b6305",
   "outputs": [],
   "execution_count": 87
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.206033Z",
     "start_time": "2024-12-28T20:37:51.203520Z"
    }
   },
   "cell_type": "code",
   "source": "crew_df.dtypes",
   "id": "d68c169a7dc602b4",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "role    object\n",
       "name    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 88,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 88
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.460305Z",
     "start_time": "2024-12-28T20:37:51.276269Z"
    }
   },
   "cell_type": "code",
   "source": [
    "crew_df['role'] = crew_df['role'].astype(pd.StringDtype())\n",
    "crew_df['name'] = crew_df['name'].astype(pd.StringDtype())"
   ],
   "id": "caff49d2d0d66a3f",
   "outputs": [],
   "execution_count": 89
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.513058Z",
     "start_time": "2024-12-28T20:37:51.510339Z"
    }
   },
   "cell_type": "code",
   "source": "genres_df.dtypes",
   "id": "a360ccfa5ffa0318",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "genre    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 90,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 90
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.582105Z",
     "start_time": "2024-12-28T20:37:51.567681Z"
    }
   },
   "cell_type": "code",
   "source": "genres_df['genre'] = genres_df['genre'].astype(pd.StringDtype())",
   "id": "5ba8f9c8198441dc",
   "outputs": [],
   "execution_count": 91
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.623913Z",
     "start_time": "2024-12-28T20:37:51.620541Z"
    }
   },
   "cell_type": "code",
   "source": "languages_df.dtypes",
   "id": "c52041b6359b302b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "type        object\n",
       "language    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 92,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 92
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.746961Z",
     "start_time": "2024-12-28T20:37:51.710443Z"
    }
   },
   "cell_type": "code",
   "source": [
    "languages_df['type'] = languages_df['type'].astype(pd.StringDtype())\n",
    "languages_df['language'] = languages_df['language'].astype(pd.StringDtype())"
   ],
   "id": "b3f537c6d422b27a",
   "outputs": [],
   "execution_count": 93
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.779618Z",
     "start_time": "2024-12-28T20:37:51.777461Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df.dtypes",
   "id": "5f0b03af5d70aa32",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "link    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 94,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 94
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.958971Z",
     "start_time": "2024-12-28T20:37:51.913825Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df['link'] = posters_df['link'].astype(pd.StringDtype())",
   "id": "96ec6c809ef96c5c",
   "outputs": [],
   "execution_count": 95
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:51.994722Z",
     "start_time": "2024-12-28T20:37:51.991841Z"
    }
   },
   "cell_type": "code",
   "source": "releases_df.dtypes",
   "id": "4fa02dc9e9624f19",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "country    object\n",
       "date       object\n",
       "type       object\n",
       "rating     object\n",
       "dtype: object"
      ]
     },
     "execution_count": 96,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 96
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.266128Z",
     "start_time": "2024-12-28T20:37:52.138655Z"
    }
   },
   "cell_type": "code",
   "source": [
    "releases_df['country'] = releases_df['country'].astype(pd.StringDtype())\n",
    "releases_df['date'] = releases_df['date'].astype(pd.StringDtype())\n",
    "releases_df['type'] = releases_df['type'].astype(pd.StringDtype())\n",
    "releases_df['rating'] = releases_df['rating'].astype(pd.StringDtype())"
   ],
   "id": "3bdb08a81d097c58",
   "outputs": [],
   "execution_count": 97
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.279731Z",
     "start_time": "2024-12-28T20:37:52.277868Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df.dtypes",
   "id": "d09b7f8198b15e67",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "studio    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 98,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 98
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.355322Z",
     "start_time": "2024-12-28T20:37:52.341545Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df['studio'] = studios_df['studio'].astype(pd.StringDtype())",
   "id": "b76af497694d1c41",
   "outputs": [],
   "execution_count": 99
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.393742Z",
     "start_time": "2024-12-28T20:37:52.391491Z"
    }
   },
   "cell_type": "code",
   "source": "themes_df.dtypes",
   "id": "a6ed2e08fd3c5168",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "theme    object\n",
       "dtype: object"
      ]
     },
     "execution_count": 100,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 100
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.525543Z",
     "start_time": "2024-12-28T20:37:52.521392Z"
    }
   },
   "cell_type": "code",
   "source": "themes_df['theme'] = themes_df['theme'].astype(pd.StringDtype())",
   "id": "2d9bab60e562a728",
   "outputs": [],
   "execution_count": 101
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "fetching the movies without a name",
   "id": "8fcb95c225f4d190"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.656935Z",
     "start_time": "2024-12-28T20:37:52.636003Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df[movies_df['name'].isna()]",
   "id": "3c16f613c61929cf",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \n",
       "id                                                                          \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN  \n",
       "1617643                                               <NA>     NaN     NaN  \n",
       "1646521                                               <NA>     NaN     NaN  \n",
       "1648186                                               <NA>     NaN     NaN  \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN  \n",
       "1725370                                               <NA>     NaN     NaN  \n",
       "1741482                                               <NA>    90.0     NaN  \n",
       "1840338                                               <NA>     NaN     NaN  \n",
       "1883229                                               <NA>     NaN     NaN  \n",
       "1894772                                               <NA>     NaN     NaN  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 102,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 102
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Movies:",
   "id": "83a1990b55a7cadc"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "by joining the subset of the movie without a name we can ensure that no reference are lost during the process (no other part of the dataset actually contain some data about those movies)",
   "id": "779946c89bee5b90"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.895070Z",
     "start_time": "2024-12-28T20:37:52.716178Z"
    }
   },
   "cell_type": "code",
   "source": [
    "movies_na_subset = pd.DataFrame(movies_df[movies_df['name'].isna()])\n",
    "\n",
    "#movies_na_subset join actors\n",
    "movies_na_subset.join(actors_df, on='id', lsuffix='_movies', rsuffix='_actors')"
   ],
   "id": "fde2ccd715dd99b3",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "        name_movies  date tagline  \\\n",
       "id                                  \n",
       "1287515        <NA>  2015    <NA>   \n",
       "1617643        <NA>  <NA>    <NA>   \n",
       "1646521        <NA>  2008    <NA>   \n",
       "1648186        <NA>  <NA>    <NA>   \n",
       "1720295        <NA>  <NA>    <NA>   \n",
       "1725370        <NA>  <NA>    <NA>   \n",
       "1741482        <NA>  <NA>    <NA>   \n",
       "1840338        <NA>  <NA>    <NA>   \n",
       "1883229        <NA>  <NA>    <NA>   \n",
       "1894772        <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "         name_actors  role  \n",
       "id                          \n",
       "1287515         <NA>  <NA>  \n",
       "1617643         <NA>  <NA>  \n",
       "1646521  Catherine R  Self  \n",
       "1648186         <NA>  <NA>  \n",
       "1720295         <NA>  <NA>  \n",
       "1725370         <NA>  <NA>  \n",
       "1741482         <NA>  <NA>  \n",
       "1840338         <NA>  <NA>  \n",
       "1883229         <NA>  <NA>  \n",
       "1894772         <NA>  <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name_movies</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>name_actors</th>\n",
       "      <th>role</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Catherine R</td>\n",
       "      <td>Self</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 103,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 103
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "",
   "id": "4e991b5ed7065f59"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:52.937362Z",
     "start_time": "2024-12-28T20:37:52.918816Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join countries\n",
    "movies_na_subset.join(countries_df, on='id', lsuffix='_movies', rsuffix='_countries')"
   ],
   "id": "2133c42d111a382c",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "        country  \n",
       "id               \n",
       "1287515    <NA>  \n",
       "1617643    <NA>  \n",
       "1646521     USA  \n",
       "1648186    <NA>  \n",
       "1720295    <NA>  \n",
       "1725370    <NA>  \n",
       "1741482    <NA>  \n",
       "1840338    <NA>  \n",
       "1883229    <NA>  \n",
       "1894772    <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>country</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>USA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 104,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 104
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.073134Z",
     "start_time": "2024-12-28T20:37:52.963464Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join crew\n",
    "movies_na_subset.join(crew_df, on='id', lsuffix='_movies', rsuffix='_crew')"
   ],
   "id": "943a7ccf5c57bd27",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "        name_movies  date tagline  \\\n",
       "id                                  \n",
       "1287515        <NA>  2015    <NA>   \n",
       "1287515        <NA>  2015    <NA>   \n",
       "1617643        <NA>  <NA>    <NA>   \n",
       "1646521        <NA>  2008    <NA>   \n",
       "1648186        <NA>  <NA>    <NA>   \n",
       "1720295        <NA>  <NA>    <NA>   \n",
       "1725370        <NA>  <NA>    <NA>   \n",
       "1741482        <NA>  <NA>    <NA>   \n",
       "1840338        <NA>  <NA>    <NA>   \n",
       "1883229        <NA>  <NA>    <NA>   \n",
       "1894772        <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "             role         name_crew  \n",
       "id                                   \n",
       "1287515  Director         Ash Thorp  \n",
       "1287515  Composer  Ben Lukas Boysen  \n",
       "1617643      <NA>              <NA>  \n",
       "1646521  Director  Giovanni De Nava  \n",
       "1648186      <NA>              <NA>  \n",
       "1720295      <NA>              <NA>  \n",
       "1725370      <NA>              <NA>  \n",
       "1741482      <NA>              <NA>  \n",
       "1840338      <NA>              <NA>  \n",
       "1883229      <NA>              <NA>  \n",
       "1894772      <NA>              <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name_movies</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>role</th>\n",
       "      <th>name_crew</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Director</td>\n",
       "      <td>Ash Thorp</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Composer</td>\n",
       "      <td>Ben Lukas Boysen</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Director</td>\n",
       "      <td>Giovanni De Nava</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 105,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 105
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.198897Z",
     "start_time": "2024-12-28T20:37:53.170947Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join genres\n",
    "movies_na_subset.join(genres_df, on='id', lsuffix='_movies', rsuffix='_genres')"
   ],
   "id": "4e2eca0acd71288e",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "               genre  \n",
       "id                    \n",
       "1287515    Animation  \n",
       "1617643  Documentary  \n",
       "1646521  Documentary  \n",
       "1648186     Thriller  \n",
       "1720295         <NA>  \n",
       "1725370         <NA>  \n",
       "1741482         <NA>  \n",
       "1840338         <NA>  \n",
       "1883229         <NA>  \n",
       "1894772         <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>genre</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Animation</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Documentary</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Documentary</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Thriller</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 106,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 106
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.365118Z",
     "start_time": "2024-12-28T20:37:53.323731Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join languages\n",
    "movies_na_subset.join(languages_df, on='id', lsuffix='_movies', rsuffix='_languages')"
   ],
   "id": "339fabb299c31788",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "             type language  \n",
       "id                          \n",
       "1287515      <NA>     <NA>  \n",
       "1617643  Language  English  \n",
       "1646521  Language  English  \n",
       "1648186  Language  English  \n",
       "1720295  Language  Burmese  \n",
       "1725370  Language  English  \n",
       "1741482  Language  English  \n",
       "1840338  Language  English  \n",
       "1883229  Language  English  \n",
       "1894772  Language  English  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>type</th>\n",
       "      <th>language</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>Burmese</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 107,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 107
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.481042Z",
     "start_time": "2024-12-28T20:37:53.447826Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join posters\n",
    "movies_na_subset.join(posters_df, on='id', lsuffix='_movies', rsuffix='_posters')"
   ],
   "id": "4919b21bb5cf165d",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "                                                      link  \n",
       "id                                                          \n",
       "1287515  https://a.ltrbxd.com/resized/film-poster/4/4/7...  \n",
       "1617643                                               <NA>  \n",
       "1646521  https://a.ltrbxd.com/resized/film-poster/1/0/1...  \n",
       "1648186                                               <NA>  \n",
       "1720295                                               <NA>  \n",
       "1725370                                               <NA>  \n",
       "1741482  https://a.ltrbxd.com/resized/film-poster/6/5/6...  \n",
       "1840338  https://a.ltrbxd.com/resized/film-poster/5/8/4...  \n",
       "1883229  https://a.ltrbxd.com/resized/film-poster/7/4/1...  \n",
       "1894772  https://a.ltrbxd.com/resized/film-poster/1/0/4...  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>link</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/4/4/7...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/0/1...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/6/5/6...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/5/8/4...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/7/4/1...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/0/4...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 108,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 108
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.626562Z",
     "start_time": "2024-12-28T20:37:53.555444Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join releases\n",
    "movies_na_subset.join(releases_df, on='id', lsuffix='_movies', rsuffix='_releases')"
   ],
   "id": "96ab9e2c84ab8012",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date_movies tagline  \\\n",
       "id                                   \n",
       "1287515  <NA>         2015    <NA>   \n",
       "1617643  <NA>         <NA>    <NA>   \n",
       "1646521  <NA>         2008    <NA>   \n",
       "1648186  <NA>         <NA>    <NA>   \n",
       "1720295  <NA>         <NA>    <NA>   \n",
       "1725370  <NA>         <NA>    <NA>   \n",
       "1741482  <NA>         <NA>    <NA>   \n",
       "1840338  <NA>         <NA>    <NA>   \n",
       "1883229  <NA>         <NA>    <NA>   \n",
       "1894772  <NA>         <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  \\\n",
       "id                                                                   \n",
       "1287515  NONE is a short film that explores the balance...     4.0   \n",
       "1617643                                               <NA>     NaN   \n",
       "1646521                                               <NA>     NaN   \n",
       "1648186                                               <NA>     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0   \n",
       "1725370                                               <NA>     NaN   \n",
       "1741482                                               <NA>    90.0   \n",
       "1840338                                               <NA>     NaN   \n",
       "1883229                                               <NA>     NaN   \n",
       "1894772                                               <NA>     NaN   \n",
       "\n",
       "         rating_movies country date_releases        type rating_releases  \n",
       "id                                                                        \n",
       "1287515            NaN     USA    2015-01-01  Theatrical            <NA>  \n",
       "1617643            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1646521            NaN     USA    2008-03-02  Theatrical              PG  \n",
       "1648186            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1720295            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1725370            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1741482            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1840338            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1883229            NaN    <NA>          <NA>        <NA>            <NA>  \n",
       "1894772            NaN    <NA>          <NA>        <NA>            <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date_movies</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating_movies</th>\n",
       "      <th>country</th>\n",
       "      <th>date_releases</th>\n",
       "      <th>type</th>\n",
       "      <th>rating_releases</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>USA</td>\n",
       "      <td>2015-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>USA</td>\n",
       "      <td>2008-03-02</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>PG</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 109,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 109
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.696328Z",
     "start_time": "2024-12-28T20:37:53.678820Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join studios\n",
    "movies_na_subset.join(studios_df, on='id', lsuffix='_movies', rsuffix='_studios')"
   ],
   "id": "23644a435d8e8f7f",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "        studio  \n",
       "id              \n",
       "1287515   <NA>  \n",
       "1617643   <NA>  \n",
       "1646521   <NA>  \n",
       "1648186   <NA>  \n",
       "1720295   <NA>  \n",
       "1725370   <NA>  \n",
       "1741482   <NA>  \n",
       "1840338   <NA>  \n",
       "1883229   <NA>  \n",
       "1894772   <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>studio</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 110,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 110
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.793051Z",
     "start_time": "2024-12-28T20:37:53.786901Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#movies_na_subset join themes\n",
    "movies_na_subset.join(themes_df, on='id', lsuffix='_movies', rsuffix='_themes')"
   ],
   "id": "c5c93365f8fa366b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name  date tagline  \\\n",
       "id                            \n",
       "1287515  <NA>  2015    <NA>   \n",
       "1617643  <NA>  <NA>    <NA>   \n",
       "1646521  <NA>  2008    <NA>   \n",
       "1648186  <NA>  <NA>    <NA>   \n",
       "1720295  <NA>  <NA>    <NA>   \n",
       "1725370  <NA>  <NA>    <NA>   \n",
       "1741482  <NA>  <NA>    <NA>   \n",
       "1840338  <NA>  <NA>    <NA>   \n",
       "1883229  <NA>  <NA>    <NA>   \n",
       "1894772  <NA>  <NA>    <NA>   \n",
       "\n",
       "                                               description  minute  rating  \\\n",
       "id                                                                           \n",
       "1287515  NONE is a short film that explores the balance...     4.0     NaN   \n",
       "1617643                                               <NA>     NaN     NaN   \n",
       "1646521                                               <NA>     NaN     NaN   \n",
       "1648186                                               <NA>     NaN     NaN   \n",
       "1720295  In this directorial debut of Eden Ewardson, he...     8.0     NaN   \n",
       "1725370                                               <NA>     NaN     NaN   \n",
       "1741482                                               <NA>    90.0     NaN   \n",
       "1840338                                               <NA>     NaN     NaN   \n",
       "1883229                                               <NA>     NaN     NaN   \n",
       "1894772                                               <NA>     NaN     NaN   \n",
       "\n",
       "        theme  \n",
       "id             \n",
       "1287515  <NA>  \n",
       "1617643  <NA>  \n",
       "1646521  <NA>  \n",
       "1648186  <NA>  \n",
       "1720295  <NA>  \n",
       "1725370  <NA>  \n",
       "1741482  <NA>  \n",
       "1840338  <NA>  \n",
       "1883229  <NA>  \n",
       "1894772  <NA>  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "      <th>theme</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1287515</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2015</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NONE is a short film that explores the balance...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1617643</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1646521</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>2008</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648186</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1720295</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In this directorial debut of Eden Ewardson, he...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1725370</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1741482</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>90.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1883229</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1894772</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 111,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 111
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Looking at the joined table it is possible to make some correction at the dataset",
   "id": "79e3fe91e73205e5"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "movie with id 1287515: looking at the description and at the poster and after a quick search on internet it is possible to evaluate that the name of the Movie is ***NONE***, no it is possible to update the name in the table",
   "id": "86f2bbb5631b7f5"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:53.896975Z",
     "start_time": "2024-12-28T20:37:53.889278Z"
    }
   },
   "cell_type": "code",
   "source": "display(Image(url=posters_df['link'][1287515], width=200, height=300))",
   "id": "cebf534063169b01",
   "outputs": [
    {
     "data": {
      "text/html": [
       "<img src=\"https://a.ltrbxd.com/resized/film-poster/4/4/7/5/9/1/447591-none-0-230-0-345-crop.jpg?v=90b5100a2c\" width=\"200\" height=\"300\"/>"
      ],
      "text/plain": [
       "<IPython.core.display.Image object>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "execution_count": 112
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:54.002367Z",
     "start_time": "2024-12-28T20:37:53.938144Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df.loc[1287515,'name'] = \"NONE\"",
   "id": "adfdbced4e682bef",
   "outputs": [],
   "execution_count": 113
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "movie with id: 1720295 looking at the description and after a quick search on internet it is possible to evaluate that the name of the Movie is ***Memorandum of Softness Green***",
   "id": "d04b18b78ea82eca"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:54.065808Z",
     "start_time": "2024-12-28T20:37:54.015569Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df.loc[1720295, 'name'] = \"Memorandum of Softness Green\"",
   "id": "f9208ee6b990ecf6",
   "outputs": [],
   "execution_count": 114
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "movie with id 1741482: looking at the poster it is possible to name the movie: ***Sweethurt*** but this time the record for this movie is a duplicate (see 1254818) so all the reference will be deleted",
   "id": "c53c94ce45715bbe"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:55.485196Z",
     "start_time": "2024-12-28T20:37:54.086323Z"
    }
   },
   "cell_type": "code",
   "source": [
    "movies_df.drop(1720295)\n",
    "actors_df.drop(1720295, errors='ignore')\n",
    "countries_df.drop(1720295, errors='ignore')\n",
    "crew_df.drop(1720295, errors='ignore')\n",
    "genres_df.drop(1720295, errors='ignore')\n",
    "languages_df.drop(1720295, errors='ignore')\n",
    "posters_df.drop(1720295, errors='ignore')\n",
    "releases_df.drop(1720295, errors='ignore')\n",
    "studios_df.drop(1720295, errors='ignore')\n",
    "themes_df.drop(1720295, errors='ignore')\n",
    "print()"
   ],
   "id": "8a477e0ae9d47090",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\n"
     ]
    }
   ],
   "execution_count": 115
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "movie with id 1840338: looking at the poster it is possible to name the movie: ***The Find*** and the director is ***Daniel Dahlstrom***",
   "id": "e6acd6e2a99c4e9"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:55.502439Z",
     "start_time": "2024-12-28T20:37:55.500836Z"
    }
   },
   "cell_type": "code",
   "source": "display(Image(url=posters_df['link'][1840338], width=200, height=300))",
   "id": "7c97939edee0a564",
   "outputs": [
    {
     "data": {
      "text/html": [
       "<img src=\"https://a.ltrbxd.com/resized/film-poster/5/8/4/7/9/8/584798-the-find-0-230-0-345-crop.jpg?v=c79c857f5c\" width=\"200\" height=\"300\"/>"
      ],
      "text/plain": [
       "<IPython.core.display.Image object>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "execution_count": 116
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:55.652918Z",
     "start_time": "2024-12-28T20:37:55.539679Z"
    }
   },
   "cell_type": "code",
   "source": [
    "movies_df.loc[1840338,'name'] = \"The Find\"\n",
    "crew_df.loc[1840338] = ['Director'] + [\"Daniel Dahlstrom\"]"
   ],
   "id": "a5fbf3ce3051d477",
   "outputs": [],
   "execution_count": 117
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "movies with id: 1617643,1646521,1648186,1725370,1741482,1883229,1894772 will be deleted along with every reference",
   "id": "8a4bc7085ad8d3d8"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:58.441819Z",
     "start_time": "2024-12-28T20:37:55.661296Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#multiple execution of this block could bring some errors\n",
    "movies_df = movies_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772]).copy()\n",
    "actors_df = actors_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "countries_df = countries_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "crew_df = crew_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "genres_df = genres_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "languages_df = languages_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "posters_df = posters_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "releases_df = releases_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "studios_df = studios_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "themes_df = themes_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()\n",
    "print()"
   ],
   "id": "8527c6e1bd50d35a",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\n"
     ]
    }
   ],
   "execution_count": 118
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:58.468977Z",
     "start_time": "2024-12-28T20:37:58.450167Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df[movies_df['name'].isna()]",
   "id": "ab40cb3e5fdb556",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [name, date, tagline, description, minute, rating]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 119,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 119
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "in the dataset there are movies with same name, and description but different minute and rating. it's not safe to delete duplicate that are not equal in every column of the dataset because a movies may have been produced in different versions",
   "id": "4aeccd69da221267"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:58.830464Z",
     "start_time": "2024-12-28T20:37:58.505129Z"
    }
   },
   "cell_type": "code",
   "source": "movies_df.loc[movies_df.duplicated(subset=['name','date','description','minute','rating'])]",
   "id": "e8673d706c007577",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                name  date  \\\n",
       "id                                           \n",
       "1073819              Better Than Sex  2000   \n",
       "1073820                     Amoklauf  1994   \n",
       "1073822         Still Working 9 to 5  2022   \n",
       "1073823  Power On: The Story of Xbox  2021   \n",
       "1073824            Crossing the Line  2006   \n",
       "...                              ...   ...   \n",
       "1940234                         Medo  2023   \n",
       "1940448   Riina - Le verità nascoste  2018   \n",
       "1940456                 Yen Ching 燕京  2018   \n",
       "1940593              Happy Birthday!  2013   \n",
       "1941150                     Extraños  <NA>   \n",
       "\n",
       "                                                  tagline  \\\n",
       "id                                                          \n",
       "1073819            3 days in the life of a 1 night stand.   \n",
       "1073820                                              <NA>   \n",
       "1073822                                              <NA>   \n",
       "1073823  Four gamers. One idea. And a billion dollar bet.   \n",
       "1073824                                              <NA>   \n",
       "...                                                   ...   \n",
       "1940234                                              <NA>   \n",
       "1940448                                              <NA>   \n",
       "1940456                                              <NA>   \n",
       "1940593                                              <NA>   \n",
       "1941150                                              <NA>   \n",
       "\n",
       "                                               description  minute  rating  \n",
       "id                                                                          \n",
       "1073819  After a one-night stand a couple is faced with...    84.0    3.24  \n",
       "1073820  A nameless waiter spends his days sitting arou...    65.0     NaN  \n",
       "1073822  Examines the 40-year evolution of gender inequ...    95.0     NaN  \n",
       "1073823  Xbox almost didn't happen. Find out why in thi...     NaN    3.61  \n",
       "1073824  In 1962, a U.S. soldier sent to guard the peac...    94.0    3.44  \n",
       "...                                                    ...     ...     ...  \n",
       "1940234                                               <NA>     4.0     NaN  \n",
       "1940448                                               <NA>    45.0     NaN  \n",
       "1940456  An intergenerational dilemma between immigrant...    64.0     NaN  \n",
       "1940593  'Misery' doesn't like 'company' -- but 'compan...    20.0     NaN  \n",
       "1941150                                               <NA>     NaN     NaN  \n",
       "\n",
       "[4115 rows x 6 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>date</th>\n",
       "      <th>tagline</th>\n",
       "      <th>description</th>\n",
       "      <th>minute</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1073819</th>\n",
       "      <td>Better Than Sex</td>\n",
       "      <td>2000</td>\n",
       "      <td>3 days in the life of a 1 night stand.</td>\n",
       "      <td>After a one-night stand a couple is faced with...</td>\n",
       "      <td>84.0</td>\n",
       "      <td>3.24</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073820</th>\n",
       "      <td>Amoklauf</td>\n",
       "      <td>1994</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>A nameless waiter spends his days sitting arou...</td>\n",
       "      <td>65.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073822</th>\n",
       "      <td>Still Working 9 to 5</td>\n",
       "      <td>2022</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>Examines the 40-year evolution of gender inequ...</td>\n",
       "      <td>95.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073823</th>\n",
       "      <td>Power On: The Story of Xbox</td>\n",
       "      <td>2021</td>\n",
       "      <td>Four gamers. One idea. And a billion dollar bet.</td>\n",
       "      <td>Xbox almost didn't happen. Find out why in thi...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>3.61</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073824</th>\n",
       "      <td>Crossing the Line</td>\n",
       "      <td>2006</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>In 1962, a U.S. soldier sent to guard the peac...</td>\n",
       "      <td>94.0</td>\n",
       "      <td>3.44</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940234</th>\n",
       "      <td>Medo</td>\n",
       "      <td>2023</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940448</th>\n",
       "      <td>Riina - Le verità nascoste</td>\n",
       "      <td>2018</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>45.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940456</th>\n",
       "      <td>Yen Ching 燕京</td>\n",
       "      <td>2018</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>An intergenerational dilemma between immigrant...</td>\n",
       "      <td>64.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940593</th>\n",
       "      <td>Happy Birthday!</td>\n",
       "      <td>2013</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>'Misery' doesn't like 'company' -- but 'compan...</td>\n",
       "      <td>20.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941150</th>\n",
       "      <td>Extraños</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>4115 rows × 6 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 120,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 120
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "removing the duplicates",
   "id": "3ed42a5e6a61eed1"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:59.501842Z",
     "start_time": "2024-12-28T20:37:58.847180Z"
    }
   },
   "cell_type": "code",
   "source": [
    "movies_df = (movies_df.loc[~movies_df.duplicated(subset=['name','date','description','minute','rating'])]).copy()\n",
    "number_of_duplicate = movies_df.duplicated(subset=['name','date','description','minute','rating']).sum()\n",
    "print(\"Number of duplicates:\" ,number_of_duplicate)"
   ],
   "id": "88e75a3dbb9ce168",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Number of duplicates: 0\n"
     ]
    }
   ],
   "execution_count": 121
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Actors",
   "id": "42dc7b4fdf46646b"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:59.564093Z",
     "start_time": "2024-12-28T20:37:59.560331Z"
    }
   },
   "cell_type": "code",
   "source": "actors_df",
   "id": "b3a96074e8869196",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                      name                 role\n",
       "id                                             \n",
       "1000001      Margot Robbie               Barbie\n",
       "1000001       Ryan Gosling                  Ken\n",
       "1000001    America Ferrera               Gloria\n",
       "1000001  Ariana Greenblatt                Sasha\n",
       "1000001           Issa Rae               Barbie\n",
       "...                    ...                  ...\n",
       "1941596            Marc Ma            Ba Cai/巴莱\n",
       "1941596                线雨轩              Tata/塔塔\n",
       "1941596       Jiang Yixuan  Zuo Yila（Zoila）/佐伊拉\n",
       "1941597     Hiroshi Mikami                 <NA>\n",
       "1941597      Keiko Oginome                 <NA>\n",
       "\n",
       "[5798449 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>role</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Margot Robbie</td>\n",
       "      <td>Barbie</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Ryan Gosling</td>\n",
       "      <td>Ken</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>America Ferrera</td>\n",
       "      <td>Gloria</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Ariana Greenblatt</td>\n",
       "      <td>Sasha</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Issa Rae</td>\n",
       "      <td>Barbie</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Marc Ma</td>\n",
       "      <td>Ba Cai/巴莱</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>线雨轩</td>\n",
       "      <td>Tata/塔塔</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Jiang Yixuan</td>\n",
       "      <td>Zuo Yila（Zoila）/佐伊拉</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>Hiroshi Mikami</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>Keiko Oginome</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5798449 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 122,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 122
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:37:59.727976Z",
     "start_time": "2024-12-28T20:37:59.624768Z"
    }
   },
   "cell_type": "code",
   "source": "actors_df.loc[actors_df['name'].isna()]",
   "id": "d7e33469898997ae",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         name            role\n",
       "id                           \n",
       "1443629  <NA>            <NA>\n",
       "1469981  <NA>            Self\n",
       "1474958  <NA>  Cinematography\n",
       "1773264  <NA>            <NA>"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>role</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1443629</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1469981</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>Self</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1474958</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>Cinematography</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1773264</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 123,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 123
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "there is no way to reach these names",
   "id": "9944b1009c08ce7c"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:00.244569Z",
     "start_time": "2024-12-28T20:37:59.787139Z"
    }
   },
   "cell_type": "code",
   "source": [
    "actors_df = actors_df.loc[~actors_df['name'].isna()].copy()\n",
    "actors_df"
   ],
   "id": "e1882f3ae81e493c",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                      name                 role\n",
       "id                                             \n",
       "1000001      Margot Robbie               Barbie\n",
       "1000001       Ryan Gosling                  Ken\n",
       "1000001    America Ferrera               Gloria\n",
       "1000001  Ariana Greenblatt                Sasha\n",
       "1000001           Issa Rae               Barbie\n",
       "...                    ...                  ...\n",
       "1941596            Marc Ma            Ba Cai/巴莱\n",
       "1941596                线雨轩              Tata/塔塔\n",
       "1941596       Jiang Yixuan  Zuo Yila（Zoila）/佐伊拉\n",
       "1941597     Hiroshi Mikami                 <NA>\n",
       "1941597      Keiko Oginome                 <NA>\n",
       "\n",
       "[5798445 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>name</th>\n",
       "      <th>role</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Margot Robbie</td>\n",
       "      <td>Barbie</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Ryan Gosling</td>\n",
       "      <td>Ken</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>America Ferrera</td>\n",
       "      <td>Gloria</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Ariana Greenblatt</td>\n",
       "      <td>Sasha</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Issa Rae</td>\n",
       "      <td>Barbie</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Marc Ma</td>\n",
       "      <td>Ba Cai/巴莱</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>线雨轩</td>\n",
       "      <td>Tata/塔塔</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Jiang Yixuan</td>\n",
       "      <td>Zuo Yila（Zoila）/佐伊拉</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>Hiroshi Mikami</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>Keiko Oginome</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5798445 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 124,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 124
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:00.974134Z",
     "start_time": "2024-12-28T20:38:00.267050Z"
    }
   },
   "cell_type": "code",
   "source": "actors_df.duplicated(subset=['name']).count()",
   "id": "3e9f8be4fca69ce5",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "np.int64(5798445)"
      ]
     },
     "execution_count": 125,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 125
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:01.031169Z",
     "start_time": "2024-12-28T20:38:01.026589Z"
    }
   },
   "cell_type": "code",
   "source": "countries_df",
   "id": "918ca03b666472f0",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "             country\n",
       "id                  \n",
       "1000001           UK\n",
       "1000001          USA\n",
       "1000002  South Korea\n",
       "1000003          USA\n",
       "1000004      Germany\n",
       "...              ...\n",
       "1941593        China\n",
       "1941594          USA\n",
       "1941595          USA\n",
       "1941596        China\n",
       "1941597        Japan\n",
       "\n",
       "[693475 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>country</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>UK</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>USA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>South Korea</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000003</th>\n",
       "      <td>USA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000004</th>\n",
       "      <td>Germany</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941593</th>\n",
       "      <td>China</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941594</th>\n",
       "      <td>USA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941595</th>\n",
       "      <td>USA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>China</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>Japan</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>693475 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 126,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 126
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:01.104360Z",
     "start_time": "2024-12-28T20:38:01.089532Z"
    }
   },
   "cell_type": "code",
   "source": "countries_df.loc[countries_df['country'].isna()]",
   "id": "939d39d1f74b8567",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [country]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>country</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 127,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 127
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "countries have a lot of duplicates because each movie could have been  recorded in one or more countries, there is no need to delete duplicates is this case",
   "id": "42334e90234eec1e"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:01.153884Z",
     "start_time": "2024-12-28T20:38:01.150429Z"
    }
   },
   "cell_type": "code",
   "source": "crew_df",
   "id": "e02c4e2a3958c095",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                   role                  name\n",
       "id                                           \n",
       "1000001        Director          Greta Gerwig\n",
       "1000001        Producer          Tom Ackerley\n",
       "1000001        Producer         Margot Robbie\n",
       "1000001        Producer        Robbie Brenner\n",
       "1000001        Producer          David Heyman\n",
       "...                 ...                   ...\n",
       "1941596          Editor  Eric Kwong Chi-Leung\n",
       "1941596  Cinematography             Kenny Tse\n",
       "1941596        Composer                   胡小欧\n",
       "1941596  Costume design           Kenneth Yee\n",
       "1840338        Director      Daniel Dahlstrom\n",
       "\n",
       "[4720183 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>role</th>\n",
       "      <th>name</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Director</td>\n",
       "      <td>Greta Gerwig</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Producer</td>\n",
       "      <td>Tom Ackerley</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Producer</td>\n",
       "      <td>Margot Robbie</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Producer</td>\n",
       "      <td>Robbie Brenner</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Producer</td>\n",
       "      <td>David Heyman</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Editor</td>\n",
       "      <td>Eric Kwong Chi-Leung</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Cinematography</td>\n",
       "      <td>Kenny Tse</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Composer</td>\n",
       "      <td>胡小欧</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Costume design</td>\n",
       "      <td>Kenneth Yee</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>Director</td>\n",
       "      <td>Daniel Dahlstrom</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>4720183 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 128,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 128
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:01.327975Z",
     "start_time": "2024-12-28T20:38:01.244740Z"
    }
   },
   "cell_type": "code",
   "source": "crew_df.loc[crew_df['name'].isna()]",
   "id": "b7039bf01e556054",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "           role  name\n",
       "id                   \n",
       "1859397  Writer  <NA>"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>role</th>\n",
       "      <th>name</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1859397</th>\n",
       "      <td>Writer</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 129,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 129
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:01.569255Z",
     "start_time": "2024-12-28T20:38:01.379878Z"
    }
   },
   "cell_type": "code",
   "source": "crew_df = crew_df[~crew_df['name'].isna()].copy()",
   "id": "3ebab4ad9b0dd802",
   "outputs": [],
   "execution_count": 130
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "dataframe crew have a lot of duplicates because each crew member participated in multiple movies",
   "id": "c04acedc1c86c365"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:02.257357Z",
     "start_time": "2024-12-28T20:38:01.581459Z"
    }
   },
   "cell_type": "code",
   "source": "crew_df.loc[crew_df.duplicated()]",
   "id": "5280ccb01580208c",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                    role                  name\n",
       "id                                            \n",
       "1000005  Camera operator           Ari Robbins\n",
       "1000005           Stunts          Danny Downey\n",
       "1000005            Sound           Ai-Ling Lee\n",
       "1000005            Sound         Dan O'Connell\n",
       "1000005      Hairstyling       Fríða Aradóttir\n",
       "...                  ...                   ...\n",
       "1941596          Casting                   线雨轩\n",
       "1941596           Editor  Eric Kwong Chi-Leung\n",
       "1941596   Cinematography             Kenny Tse\n",
       "1941596   Costume design           Kenneth Yee\n",
       "1840338         Director      Daniel Dahlstrom\n",
       "\n",
       "[2907770 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>role</th>\n",
       "      <th>name</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>Camera operator</td>\n",
       "      <td>Ari Robbins</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>Stunts</td>\n",
       "      <td>Danny Downey</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>Sound</td>\n",
       "      <td>Ai-Ling Lee</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>Sound</td>\n",
       "      <td>Dan O'Connell</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>Hairstyling</td>\n",
       "      <td>Fríða Aradóttir</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Casting</td>\n",
       "      <td>线雨轩</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Editor</td>\n",
       "      <td>Eric Kwong Chi-Leung</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Cinematography</td>\n",
       "      <td>Kenny Tse</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Costume design</td>\n",
       "      <td>Kenneth Yee</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1840338</th>\n",
       "      <td>Director</td>\n",
       "      <td>Daniel Dahlstrom</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>2907770 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 131,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 131
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:02.273914Z",
     "start_time": "2024-12-28T20:38:02.271443Z"
    }
   },
   "cell_type": "code",
   "source": "genres_df",
   "id": "3602bace737e9866",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "             genre\n",
       "id                \n",
       "1000001     Comedy\n",
       "1000001  Adventure\n",
       "1000002     Comedy\n",
       "1000002   Thriller\n",
       "1000002      Drama\n",
       "...            ...\n",
       "1941563      Drama\n",
       "1941566      Crime\n",
       "1941569      Crime\n",
       "1941596     Action\n",
       "1941596      Crime\n",
       "\n",
       "[1046846 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>genre</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Comedy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Adventure</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Comedy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Thriller</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Drama</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941563</th>\n",
       "      <td>Drama</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941566</th>\n",
       "      <td>Crime</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941569</th>\n",
       "      <td>Crime</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Action</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Crime</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1046846 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 132,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 132
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:02.352318Z",
     "start_time": "2024-12-28T20:38:02.332033Z"
    }
   },
   "cell_type": "code",
   "source": "genres_df.loc[genres_df['genre'].isna()]",
   "id": "4c5c0d10fe86268a",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [genre]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>genre</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 133,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 133
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:02.475359Z",
     "start_time": "2024-12-28T20:38:02.432663Z"
    }
   },
   "cell_type": "code",
   "source": "genres_df.loc[genres_df.duplicated()]",
   "id": "2ab15f6e24441dd0",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "             genre\n",
       "id                \n",
       "1000002     Comedy\n",
       "1000003  Adventure\n",
       "1000003     Comedy\n",
       "1000004      Drama\n",
       "1000005      Drama\n",
       "...            ...\n",
       "1941563      Drama\n",
       "1941566      Crime\n",
       "1941569      Crime\n",
       "1941596     Action\n",
       "1941596      Crime\n",
       "\n",
       "[1046827 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>genre</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Comedy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000003</th>\n",
       "      <td>Adventure</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000003</th>\n",
       "      <td>Comedy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000004</th>\n",
       "      <td>Drama</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>Drama</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941563</th>\n",
       "      <td>Drama</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941566</th>\n",
       "      <td>Crime</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941569</th>\n",
       "      <td>Crime</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Action</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Crime</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1046827 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 134,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 134
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:02.634786Z",
     "start_time": "2024-12-28T20:38:02.631211Z"
    }
   },
   "cell_type": "code",
   "source": "languages_df",
   "id": "5438003389c6fa27",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                     type  language\n",
       "id                                 \n",
       "1000001          Language   English\n",
       "1000002  Primary language    Korean\n",
       "1000002   Spoken language   English\n",
       "1000002   Spoken language    German\n",
       "1000002   Spoken language    Korean\n",
       "...                   ...       ...\n",
       "1941593          Language   Chinese\n",
       "1941594          Language   English\n",
       "1941595          Language   English\n",
       "1941596          Language   Chinese\n",
       "1941597          Language  Japanese\n",
       "\n",
       "[1038755 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>type</th>\n",
       "      <th>language</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Primary language</td>\n",
       "      <td>Korean</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Spoken language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Spoken language</td>\n",
       "      <td>German</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>Spoken language</td>\n",
       "      <td>Korean</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941593</th>\n",
       "      <td>Language</td>\n",
       "      <td>Chinese</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941594</th>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941595</th>\n",
       "      <td>Language</td>\n",
       "      <td>English</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>Language</td>\n",
       "      <td>Chinese</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>Language</td>\n",
       "      <td>Japanese</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1038755 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 135,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 135
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:02.897640Z",
     "start_time": "2024-12-28T20:38:02.831543Z"
    }
   },
   "cell_type": "code",
   "source": "languages_df.loc[languages_df[['type','language']].isna().all(axis=1)]",
   "id": "e09fd1406107d9bf",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [type, language]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>type</th>\n",
       "      <th>language</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 136,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 136
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:03.379039Z",
     "start_time": "2024-12-28T20:38:03.376452Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df",
   "id": "2d68c5a8648f8aac",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                                      link\n",
       "id                                                        \n",
       "1000001  https://a.ltrbxd.com/resized/film-poster/2/7/7...\n",
       "1000002  https://a.ltrbxd.com/resized/film-poster/4/2/6...\n",
       "1000003  https://a.ltrbxd.com/resized/film-poster/4/7/4...\n",
       "1000004  https://a.ltrbxd.com/resized/film-poster/5/1/5...\n",
       "1000005  https://a.ltrbxd.com/resized/film-poster/2/4/0...\n",
       "...                                                    ...\n",
       "1941593                                               <NA>\n",
       "1941594                                               <NA>\n",
       "1941595  https://a.ltrbxd.com/resized/film-poster/1/1/8...\n",
       "1941596  https://a.ltrbxd.com/resized/film-poster/1/1/8...\n",
       "1941597                                               <NA>\n",
       "\n",
       "[941590 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>link</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/2/7/7...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000002</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/4/2/6...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000003</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/4/7/4...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000004</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/5/1/5...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000005</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/2/4/0...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941593</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941594</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941595</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/1/8...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/1/8...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>941590 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 137,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 137
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:03.462596Z",
     "start_time": "2024-12-28T20:38:03.437933Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df.loc[posters_df['link'].isna()]",
   "id": "a7e1401e0f04c135",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         link\n",
       "id           \n",
       "1014019  <NA>\n",
       "1015381  <NA>\n",
       "1016468  <NA>\n",
       "1018453  <NA>\n",
       "1027194  <NA>\n",
       "...       ...\n",
       "1941590  <NA>\n",
       "1941591  <NA>\n",
       "1941593  <NA>\n",
       "1941594  <NA>\n",
       "1941597  <NA>\n",
       "\n",
       "[180709 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>link</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1014019</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1015381</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1016468</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1018453</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1027194</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941590</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941591</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941593</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941594</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941597</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>180709 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 138,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 138
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "in this case removing the <NA> values will keep the data a bit cleaner\n",
   "id": "2916044a2f2160fa"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:03.600079Z",
     "start_time": "2024-12-28T20:38:03.543820Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df = posters_df[~posters_df['link'].isna()].copy()",
   "id": "2775cebba745302b",
   "outputs": [],
   "execution_count": 139
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:03.706898Z",
     "start_time": "2024-12-28T20:38:03.626607Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df.loc[posters_df.duplicated()]",
   "id": "5b424280b9071c56",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                                      link\n",
       "id                                                        \n",
       "1073819  https://a.ltrbxd.com/resized/film-poster/3/4/5...\n",
       "1073820  https://a.ltrbxd.com/resized/film-poster/3/1/0...\n",
       "1073822  https://a.ltrbxd.com/resized/film-poster/7/6/0...\n",
       "1073823  https://a.ltrbxd.com/resized/film-poster/8/2/2...\n",
       "1073824  https://a.ltrbxd.com/resized/film-poster/3/7/4...\n",
       "...                                                    ...\n",
       "1829507  https://a.ltrbxd.com/resized/film-poster/1/1/4...\n",
       "1864503  https://a.ltrbxd.com/resized/film-poster/1/1/8...\n",
       "1897229  https://a.ltrbxd.com/resized/film-poster/1/0/1...\n",
       "1897230  https://a.ltrbxd.com/resized/film-poster/1/0/1...\n",
       "1934309  https://a.ltrbxd.com/resized/film-poster/1/0/4...\n",
       "\n",
       "[1286 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>link</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1073819</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/3/4/5...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073820</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/3/1/0...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073822</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/7/6/0...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073823</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/8/2/2...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1073824</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/3/7/4...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1829507</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/1/4...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1864503</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/1/8...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1897229</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/0/1...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1897230</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/0/1...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1934309</th>\n",
       "      <td>https://a.ltrbxd.com/resized/film-poster/1/0/4...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1286 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 140,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 140
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "removing duplicated posters",
   "id": "f512cec9489850a5"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:03.827320Z",
     "start_time": "2024-12-28T20:38:03.720278Z"
    }
   },
   "cell_type": "code",
   "source": "posters_df = posters_df[~posters_df['link'].duplicated()].copy()",
   "id": "15f1fc676fe75f47",
   "outputs": [],
   "execution_count": 141
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:03.846508Z",
     "start_time": "2024-12-28T20:38:03.843102Z"
    }
   },
   "cell_type": "code",
   "source": "releases_df",
   "id": "f5c0a87b1190011b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "           country        date        type rating\n",
       "id                                               \n",
       "1000001    Andorra  2023-07-21  Theatrical   <NA>\n",
       "1000001  Argentina  2023-07-20  Theatrical    ATP\n",
       "1000001  Australia  2023-07-19  Theatrical     PG\n",
       "1000001  Australia  2023-10-01     Digital     PG\n",
       "1000001    Austria  2023-07-20  Theatrical   <NA>\n",
       "...            ...         ...         ...    ...\n",
       "1940967        USA  1909-01-01  Theatrical   <NA>\n",
       "1940968     Sweden  1908-11-11  Theatrical   <NA>\n",
       "1940969     France  1902-01-01  Theatrical   <NA>\n",
       "1940970     France  1902-01-01  Theatrical   <NA>\n",
       "1940971     France  1902-01-01  Theatrical   <NA>\n",
       "\n",
       "[1332781 rows x 4 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>country</th>\n",
       "      <th>date</th>\n",
       "      <th>type</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Andorra</td>\n",
       "      <td>2023-07-21</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Argentina</td>\n",
       "      <td>2023-07-20</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>ATP</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Australia</td>\n",
       "      <td>2023-07-19</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>PG</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Australia</td>\n",
       "      <td>2023-10-01</td>\n",
       "      <td>Digital</td>\n",
       "      <td>PG</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Austria</td>\n",
       "      <td>2023-07-20</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940967</th>\n",
       "      <td>USA</td>\n",
       "      <td>1909-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940968</th>\n",
       "      <td>Sweden</td>\n",
       "      <td>1908-11-11</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940969</th>\n",
       "      <td>France</td>\n",
       "      <td>1902-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940970</th>\n",
       "      <td>France</td>\n",
       "      <td>1902-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940971</th>\n",
       "      <td>France</td>\n",
       "      <td>1902-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1332781 rows × 4 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 142,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 142
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.046937Z",
     "start_time": "2024-12-28T20:38:03.898707Z"
    }
   },
   "cell_type": "code",
   "source": "releases_df.loc[releases_df[['country','date','type','rating']].isna().all(axis=1)]",
   "id": "b56edd840678734b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [country, date, type, rating]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>country</th>\n",
       "      <th>date</th>\n",
       "      <th>type</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 143,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 143
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "checking duplicates in each movie, adding index as helper column",
   "id": "dbc0db98719236b"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.286742Z",
     "start_time": "2024-12-28T20:38:04.070553Z"
    }
   },
   "cell_type": "code",
   "source": [
    "releases_df['index'] = releases_df.index\n",
    "releases_df.loc[releases_df.duplicated(subset=['index','country','date','type'])]"
   ],
   "id": "b97d90a53ea361ce",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [country, date, type, rating, index]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>country</th>\n",
       "      <th>date</th>\n",
       "      <th>type</th>\n",
       "      <th>rating</th>\n",
       "      <th>index</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 144,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 144
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "removing index helper column",
   "id": "583f60dd459c8b73"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.365406Z",
     "start_time": "2024-12-28T20:38:04.301239Z"
    }
   },
   "cell_type": "code",
   "source": "releases_df.drop(['index'], axis=1)",
   "id": "7b89c58003cdfc6c",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "           country        date        type rating\n",
       "id                                               \n",
       "1000001    Andorra  2023-07-21  Theatrical   <NA>\n",
       "1000001  Argentina  2023-07-20  Theatrical    ATP\n",
       "1000001  Australia  2023-07-19  Theatrical     PG\n",
       "1000001  Australia  2023-10-01     Digital     PG\n",
       "1000001    Austria  2023-07-20  Theatrical   <NA>\n",
       "...            ...         ...         ...    ...\n",
       "1940967        USA  1909-01-01  Theatrical   <NA>\n",
       "1940968     Sweden  1908-11-11  Theatrical   <NA>\n",
       "1940969     France  1902-01-01  Theatrical   <NA>\n",
       "1940970     France  1902-01-01  Theatrical   <NA>\n",
       "1940971     France  1902-01-01  Theatrical   <NA>\n",
       "\n",
       "[1332781 rows x 4 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>country</th>\n",
       "      <th>date</th>\n",
       "      <th>type</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Andorra</td>\n",
       "      <td>2023-07-21</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Argentina</td>\n",
       "      <td>2023-07-20</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>ATP</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Australia</td>\n",
       "      <td>2023-07-19</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>PG</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Australia</td>\n",
       "      <td>2023-10-01</td>\n",
       "      <td>Digital</td>\n",
       "      <td>PG</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Austria</td>\n",
       "      <td>2023-07-20</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940967</th>\n",
       "      <td>USA</td>\n",
       "      <td>1909-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940968</th>\n",
       "      <td>Sweden</td>\n",
       "      <td>1908-11-11</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940969</th>\n",
       "      <td>France</td>\n",
       "      <td>1902-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940970</th>\n",
       "      <td>France</td>\n",
       "      <td>1902-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1940971</th>\n",
       "      <td>France</td>\n",
       "      <td>1902-01-01</td>\n",
       "      <td>Theatrical</td>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1332781 rows × 4 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 145,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 145
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.420219Z",
     "start_time": "2024-12-28T20:38:04.417201Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df",
   "id": "31e97906205fe190",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                          studio\n",
       "id                              \n",
       "1000001  LuckyChap Entertainment\n",
       "1000001             Heyday Films\n",
       "1000001           NB/GG Pictures\n",
       "1000001                   Mattel\n",
       "1000001    Warner Bros. Pictures\n",
       "...                          ...\n",
       "1941596               上海猫眼影业有限公司\n",
       "1941596            坏小子（北京）传媒有限公司\n",
       "1941596         亚太国影（重庆）文化传媒有限公司\n",
       "1941596               凤凰传奇影业有限公司\n",
       "1941596             无双（深圳）影业有限公司\n",
       "\n",
       "[679283 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>studio</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>LuckyChap Entertainment</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Heyday Films</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>NB/GG Pictures</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Mattel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Warner Bros. Pictures</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>上海猫眼影业有限公司</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>坏小子（北京）传媒有限公司</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>亚太国影（重庆）文化传媒有限公司</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>凤凰传奇影业有限公司</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>无双（深圳）影业有限公司</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>679283 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 146,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 146
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.561138Z",
     "start_time": "2024-12-28T20:38:04.546012Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df.loc[studios_df['studio'].isna()]",
   "id": "dcf1a76c226d57f0",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "        studio\n",
       "id            \n",
       "1259717   <NA>\n",
       "1350206   <NA>\n",
       "1450762   <NA>\n",
       "1565428   <NA>\n",
       "1579904   <NA>\n",
       "1590891   <NA>\n",
       "1605792   <NA>\n",
       "1648488   <NA>\n",
       "1706513   <NA>\n",
       "1934958   <NA>"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>studio</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1259717</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1350206</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1450762</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1565428</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1579904</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1590891</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1605792</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1648488</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1706513</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1934958</th>\n",
       "      <td>&lt;NA&gt;</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 147,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 147
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "in this case removing the <NA> values will keep the data a bit cleaner",
   "id": "c07d9ae241034a9d"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.706927Z",
     "start_time": "2024-12-28T20:38:04.677318Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df = studios_df[~studios_df['studio'].isna()].copy()",
   "id": "c2edc0fee5783d52",
   "outputs": [],
   "execution_count": 148
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.829933Z",
     "start_time": "2024-12-28T20:38:04.763066Z"
    }
   },
   "cell_type": "code",
   "source": [
    "studios_df['index'] = studios_df.index\n",
    "studios_df.loc[studios_df.duplicated(subset=['index','studio'])]"
   ],
   "id": "21182ab7469174c",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                                   studio    index\n",
       "id                                                                \n",
       "1000044                               Working Title Films  1000044\n",
       "1000165                               Working Title Films  1000165\n",
       "1000263                               Working Title Films  1000263\n",
       "1000514                                            Fabula  1000514\n",
       "1000547                               Working Title Films  1000547\n",
       "...                                                   ...      ...\n",
       "1852028                                              ARTE  1852028\n",
       "1859604                                              ARTE  1859604\n",
       "1863229                                        Star Media  1863229\n",
       "1888903  Deutsche Film- und Fernsehakademie Berlin (DFFB)  1888903\n",
       "1934998                           Ministerstvo kultury ČR  1934998\n",
       "\n",
       "[212 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>studio</th>\n",
       "      <th>index</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000044</th>\n",
       "      <td>Working Title Films</td>\n",
       "      <td>1000044</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000165</th>\n",
       "      <td>Working Title Films</td>\n",
       "      <td>1000165</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000263</th>\n",
       "      <td>Working Title Films</td>\n",
       "      <td>1000263</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000514</th>\n",
       "      <td>Fabula</td>\n",
       "      <td>1000514</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000547</th>\n",
       "      <td>Working Title Films</td>\n",
       "      <td>1000547</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1852028</th>\n",
       "      <td>ARTE</td>\n",
       "      <td>1852028</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1859604</th>\n",
       "      <td>ARTE</td>\n",
       "      <td>1859604</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1863229</th>\n",
       "      <td>Star Media</td>\n",
       "      <td>1863229</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1888903</th>\n",
       "      <td>Deutsche Film- und Fernsehakademie Berlin (DFFB)</td>\n",
       "      <td>1888903</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1934998</th>\n",
       "      <td>Ministerstvo kultury ČR</td>\n",
       "      <td>1934998</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>212 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 149,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 149
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "it is possible to see that a single studio can appear multiple time in the dataframe for each movie. This could be it because a studio could have worked in different areas of the movie filming session but the dataframe does not show all the different area so the duplicates will be removed.",
   "id": "b15e9bf95bad09e"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.889157Z",
     "start_time": "2024-12-28T20:38:04.853135Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df = studios_df[~studios_df['studio'].duplicated()].copy()",
   "id": "a6e2d0dd7c853498",
   "outputs": [],
   "execution_count": 150
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "removing the helper column\n",
   "id": "784d958b9a9cb54d"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:04.973658Z",
     "start_time": "2024-12-28T20:38:04.967950Z"
    }
   },
   "cell_type": "code",
   "source": "studios_df.drop(['index'], axis=1)",
   "id": "69ebd8885229f75d",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                     studio\n",
       "id                                         \n",
       "1000001             LuckyChap Entertainment\n",
       "1000001                        Heyday Films\n",
       "1000001                      NB/GG Pictures\n",
       "1000001                              Mattel\n",
       "1000001               Warner Bros. Pictures\n",
       "...                                     ...\n",
       "1941514                  TCGT Entertainment\n",
       "1941522  Trailblazing Films & Entertainment\n",
       "1941534                         Lo Vi Films\n",
       "1941596                       坏小子（北京）传媒有限公司\n",
       "1941596                    亚太国影（重庆）文化传媒有限公司\n",
       "\n",
       "[160881 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>studio</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>LuckyChap Entertainment</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Heyday Films</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>NB/GG Pictures</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Mattel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Warner Bros. Pictures</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941514</th>\n",
       "      <td>TCGT Entertainment</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941522</th>\n",
       "      <td>Trailblazing Films &amp; Entertainment</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941534</th>\n",
       "      <td>Lo Vi Films</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>坏小子（北京）传媒有限公司</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1941596</th>\n",
       "      <td>亚太国影（重庆）文化传媒有限公司</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>160881 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 151,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 151
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:05.072479Z",
     "start_time": "2024-12-28T20:38:05.069858Z"
    }
   },
   "cell_type": "code",
   "source": "themes_df",
   "id": "2d7707b5e7e55c19",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                                     theme\n",
       "id                                                        \n",
       "1000001                   Humanity and the world around us\n",
       "1000001                             Crude humor and satire\n",
       "1000001                        Moving relationship stories\n",
       "1000001     Emotional and captivating fantasy storytelling\n",
       "1000001  Surreal and thought-provoking visions of life ...\n",
       "...                                                    ...\n",
       "1835643                         Noir and dark crime dramas\n",
       "1835643        Intriguing and suspenseful murder mysteries\n",
       "1849827                                 Faith and religion\n",
       "1849827                       Faith and spiritual journeys\n",
       "1849827              Religious faith, sin, and forgiveness\n",
       "\n",
       "[125641 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>theme</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Humanity and the world around us</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Crude humor and satire</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Moving relationship stories</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Emotional and captivating fantasy storytelling</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1000001</th>\n",
       "      <td>Surreal and thought-provoking visions of life ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1835643</th>\n",
       "      <td>Noir and dark crime dramas</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1835643</th>\n",
       "      <td>Intriguing and suspenseful murder mysteries</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1849827</th>\n",
       "      <td>Faith and religion</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1849827</th>\n",
       "      <td>Faith and spiritual journeys</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1849827</th>\n",
       "      <td>Religious faith, sin, and forgiveness</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>125641 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 152,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 152
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:05.150365Z",
     "start_time": "2024-12-28T20:38:05.145897Z"
    }
   },
   "cell_type": "code",
   "source": "themes_df.loc[themes_df['theme'].isna()]",
   "id": "85617a7af65d53d3",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [theme]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>theme</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 153,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 153
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:05.240328Z",
     "start_time": "2024-12-28T20:38:05.229210Z"
    }
   },
   "cell_type": "code",
   "source": [
    "themes_df['index'] = themes_df.index\n",
    "themes_df.loc[themes_df.duplicated(subset=['index','theme'])]"
   ],
   "id": "32a55fe4014b71f9",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [theme, index]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>theme</th>\n",
       "      <th>index</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 154,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 154
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Movies dataframe normalization and sql insertion",
   "id": "6858a36ca24ed435"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:21.785170Z",
     "start_time": "2024-12-28T20:38:05.371620Z"
    }
   },
   "cell_type": "code",
   "source": [
    "movies_df['id'] = movies_df.index\n",
    "movies_df = movies_df.join(posters_df)\n",
    "movies_df = movies_df.rename(columns={'link':'poster'})\n",
    "#movies_df.to_csv(f\"{output_path}movies.csv\", index=False)\n",
    "movies_df.to_sql('movies', engine, if_exists='append', index=False)"
   ],
   "id": "295a282035d0f339",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "475"
      ]
     },
     "execution_count": 155,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 155
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Actors dataframe normalization, data enrichment and sql insertion",
   "id": "5fe9bab13d491de8"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:38:33.462776Z",
     "start_time": "2024-12-28T20:38:21.877859Z"
    }
   },
   "cell_type": "code",
   "source": [
    "actors_unique = actors_df[~actors_df['name'].duplicated()].copy()\n",
    "actors_unique['id'] = range(1,len(actors_unique) + 1)\n",
    "\n",
    "try:\n",
    "    actors_unique = actors_unique.drop(['role'], axis=1).copy()\n",
    "except:\n",
    "    print(\"Unable to remove role\")\n",
    "\n",
    "try:\n",
    "    actors_unique = actors_unique.drop(['movie_id'], axis=1).copy()\n",
    "except:\n",
    "    print(\"Unable to remove movie_id\")\n",
    "\n",
    "actors_unique.to_sql('actors', engine, if_exists='append', index=False)\n",
    "actors_unique.to_csv(f\"{output_path}actors.csv\", index=False)\n",
    "#actors ok"
   ],
   "id": "7cfa765f209e46c7",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Unable to remove movie_id\n"
     ]
    }
   ],
   "execution_count": 156
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Actors_movies normalization and sql insertion",
   "id": "bade771c14034622"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:40:28.632457Z",
     "start_time": "2024-12-28T20:38:33.465751Z"
    }
   },
   "cell_type": "code",
   "source": [
    "actors_df['movie_id'] = actors_df.index\n",
    "actors_movies = (actors_unique.merge(actors_df, left_on='name', right_on='name')).copy()\n",
    "actors_movies = actors_movies.drop(['name'], axis=1, errors='coerce')\n",
    "actors_movies = actors_movies.rename(columns={'id':'actor_id'})\n",
    "#movie_actors is ok\n",
    "\n",
    "#actors_unique.to_sql('actors', engine, if_exists='append', index=False)\n",
    "\n",
    "#replacing <NA>\n",
    "actors_movies = actors_movies.replace({np.nan: None})\n",
    "\n",
    "#avoiding foreingn key violation\n",
    "actors_movies = actors_movies[actors_movies['movie_id'].isin(movies_df['id'])]\n",
    "actors_movies = actors_movies[actors_movies['actor_id'].isin(actors_unique['id'])]\n",
    "\n",
    "#avoiding primary key duplicates\n",
    "actors_movies = actors_movies[~actors_movies.duplicated(subset=['actor_id','movie_id'])]\n",
    "\n",
    "actors_movies.to_sql('actors_movies', engine, if_exists='append', index=False)\n",
    "#actors_movies.to_csv(f\"{output_path}actors_movies.csv\", index=False)\n"
   ],
   "id": "7b159a73e6347705",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "885"
      ]
     },
     "execution_count": 157,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 157
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Countries dataframe normalization and sql insertion",
   "id": "83660874a990605b"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:40:28.721096Z",
     "start_time": "2024-12-28T20:40:28.696948Z"
    }
   },
   "cell_type": "code",
   "source": [
    "countries_unique = countries_df[~countries_df['country'].duplicated()].copy()\n",
    "countries_unique['id'] = range(1,len(countries_unique) + 1)\n",
    "#countries_unique.set_index('id', inplace=True)\n",
    "\n",
    "countries_unique.to_sql('countries', engine, if_exists='append', index=False)\n",
    "#countries_unique.to_csv(f\"{output_path}countries.csv\", index=False)"
   ],
   "id": "635ec3abc33f4937",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "247"
      ]
     },
     "execution_count": 158,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 158
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Countries_movies dataframe normalization and sql insertion",
   "id": "39dd417778599d71"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:40:39.411522Z",
     "start_time": "2024-12-28T20:40:28.800635Z"
    }
   },
   "cell_type": "code",
   "source": [
    "countries_df['movie_id'] = countries_df.index\n",
    "countries_movies = (countries_unique.merge(countries_df, left_on='country', right_on='country')).copy()\n",
    "countries_movies =  countries_movies.drop(['country'], axis=1, errors='coerce')\n",
    "countries_movies = countries_movies.rename(columns={'id':'country_id'})\n",
    "\n",
    "#avoiding foreingn key violation\n",
    "countries_movies = countries_movies[countries_movies['movie_id'].isin(movies_df['id'])]\n",
    "\n",
    "#countries_movies.to_csv(f\"{output_path}countries_movies.csv\", index=False)\n",
    "countries_movies.to_sql('countries_movies', engine, if_exists='append', index=False)"
   ],
   "id": "bf18ac1cd2f525c6",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "52"
      ]
     },
     "execution_count": 159,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 159
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Languages dataframe normalization and sql insertion",
   "id": "64336c98a657b823"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:40:39.447602Z",
     "start_time": "2024-12-28T20:40:39.414377Z"
    }
   },
   "cell_type": "code",
   "source": [
    "languages_unique = languages_df[~languages_df['language'].duplicated()].copy()\n",
    "languages_unique = languages_unique.drop(['type'], axis=1, errors='coerce')\n",
    "languages_unique['id'] = range(1,len(languages_unique) + 1)\n",
    "\n",
    "#languages_unique.to_csv(f\"{output_path}languages.csv\", index=False)\n",
    "languages_unique.to_sql('languages', engine, if_exists='append', index=False)"
   ],
   "id": "72429e89d7ce599b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "192"
      ]
     },
     "execution_count": 160,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 160
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Languages_movies dataframe normalization and sql insertion",
   "id": "1e83b1b98f650943"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:40:55.186972Z",
     "start_time": "2024-12-28T20:40:39.554783Z"
    }
   },
   "cell_type": "code",
   "source": [
    "languages_df['movie_id'] = languages_df.index\n",
    "languages_movies = (languages_unique.merge(languages_df, left_on='language', right_on='language')).copy()\n",
    "languages_movies = languages_movies.drop(['language'], axis=1, errors='coerce')\n",
    "languages_movies = languages_movies.rename(columns={'id':'language_id'})\n",
    "\n",
    "#avoiding primary key duplicates\n",
    "languages_movies = languages_movies[~languages_movies.duplicated(subset=['language_id','movie_id'])]\n",
    "\n",
    "#avoiding foreign key violation\n",
    "languages_movies = languages_movies[languages_movies['movie_id'].isin(movies_df['id'])]\n",
    "languages_movies = languages_movies[languages_movies['language_id'].isin(languages_unique['id'])]\n",
    "\n",
    "#languages_movies.to_csv(f\"{output_path}languages_movies.csv\", index=False)\n",
    "languages_movies.to_sql('languages_movies', engine, if_exists='append', index=False)"
   ],
   "id": "4776ffc7537eca29",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "482"
      ]
     },
     "execution_count": 161,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 161
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Crew dataframe normalization and sql insertion",
   "id": "67cc2ca91c41c686"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:41:02.889520Z",
     "start_time": "2024-12-28T20:40:55.189661Z"
    }
   },
   "cell_type": "code",
   "source": [
    "crew_unique = crew_df[~crew_df['name'].duplicated()].copy()\n",
    "crew_unique = crew_unique.drop(['role'], axis=1, errors='coerce')\n",
    "crew_unique['id'] = range(1,len(crew_unique) + 1)\n",
    "\n",
    "\n",
    "#crew_unique.to_csv(f\"{output_path}crew.csv\", index=False)\n",
    "crew_unique.to_sql('crew', engine, if_exists='append', index=False)"
   ],
   "id": "e02594d7e195199a",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "401"
      ]
     },
     "execution_count": 162,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 162
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Crew_movies dataframe normalization and sql insertion",
   "id": "712572ede356df68"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:07.744418Z",
     "start_time": "2024-12-28T20:41:02.892462Z"
    }
   },
   "cell_type": "code",
   "source": [
    "crew_df['movie_id'] = crew_df.index\n",
    "crew_movies = crew_unique.merge(crew_df, left_on='name', right_on='name').copy()\n",
    "crew_movies = crew_movies.drop(['name'], axis=1, errors='coerce')\n",
    "crew_movies = crew_movies.rename(columns={'id':'crew_id'})\n",
    "\n",
    "#avoiding primary key duplicates\n",
    "crew_movies = crew_movies[~crew_movies.duplicated(subset=['crew_id','movie_id'])]\n",
    "\n",
    "#avoiding foreign key violation\n",
    "crew_movies = crew_movies[crew_movies['movie_id'].isin(movies_df['id'])]\n",
    "crew_movies = crew_movies[crew_movies['crew_id'].isin(crew_unique['id'])]\n",
    "\n",
    "#crew_movies.to_csv(f\"{output_path}crew_movies.csv\", index=False)\n",
    "crew_movies.to_sql('crew_movies', engine, if_exists='append', index=False)"
   ],
   "id": "d86d9ff746247723",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "495"
      ]
     },
     "execution_count": 163,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 163
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Studios dataframe normalization and sql insertion",
   "id": "81074d12b2e793f4"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:08.555786Z",
     "start_time": "2024-12-28T20:42:07.811210Z"
    }
   },
   "cell_type": "code",
   "source": [
    "studio_unique = studios_df[~studios_df['studio'].duplicated()].copy()\n",
    "studio_unique = studio_unique.drop(['index'], axis=1, errors='coerce')\n",
    "studio_unique['id'] = range(1,len(studio_unique) + 1)\n",
    "\n",
    "#studio_unique.to_csv(f\"{output_path}studios.csv\", index=False)\n",
    "studio_unique.to_sql('studios', engine, if_exists='append', index=False)"
   ],
   "id": "5900a6a18b360586",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "881"
      ]
     },
     "execution_count": 164,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 164
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Studios_movies dataframe normalization and sql insertion",
   "id": "6c07b4c6b5fb947d"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:12.085496Z",
     "start_time": "2024-12-28T20:42:08.559978Z"
    }
   },
   "cell_type": "code",
   "source": [
    "studios_df['movie_id'] = studios_df.index\n",
    "studio_movies = studio_unique.merge(studios_df, left_on='studio', right_on='studio').copy()\n",
    "studio_movies = studio_movies.drop(['index','studio'], axis=1, errors='coerce')\n",
    "studio_movies = studio_movies.rename(columns={'id':'studio_id'})\n",
    "\n",
    "#avoiding primary key duplicates\n",
    "studio_movies = studio_movies[~studio_movies.duplicated(subset=['studio_id','movie_id'])]\n",
    "\n",
    "#avoiding foreign key violation\n",
    "studio_movies = studio_movies[studio_movies['movie_id'].isin(movies_df['id'])]\n",
    "studio_movies = studio_movies[studio_movies['studio_id'].isin(studio_unique['id'])]\n",
    "\n",
    "#studio_movies.to_csv(f\"{output_path}studios_movies.csv\", index=False)\n",
    "studio_movies.to_sql('studios_movies', engine, if_exists='append', index=False)"
   ],
   "id": "74a870d49b796ae5",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "863"
      ]
     },
     "execution_count": 165,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 165
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Genres dataframe normalization and sql insertion",
   "id": "9d0078550f2a9deb"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:12.130204Z",
     "start_time": "2024-12-28T20:42:12.094529Z"
    }
   },
   "cell_type": "code",
   "source": [
    "genres_unique = genres_df[~genres_df['genre'].duplicated()].copy()\n",
    "genres_unique['id'] = range(1,len(genres_unique) + 1)\n",
    "\n",
    "#genres_unique.to_csv(f\"{output_path}genres.csv\", index=False)\n",
    "genres_unique.to_sql('genres', engine, if_exists='append', index=False)"
   ],
   "id": "f337b838e52faab",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "19"
      ]
     },
     "execution_count": 166,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 166
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Genres_movies dataframe normalization and sql insertion",
   "id": "12431ea9c20aa8c6"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:27.047350Z",
     "start_time": "2024-12-28T20:42:12.171455Z"
    }
   },
   "cell_type": "code",
   "source": [
    "genres_df['movie_id'] = genres_df.index\n",
    "genres_movies = genres_unique.merge(genres_df, left_on='genre', right_on='genre').copy()\n",
    "genres_movies = genres_movies.drop(['genre'], axis=1, errors='coerce')\n",
    "genres_movies = genres_movies.rename(columns={'id':'genre_id'})\n",
    "\n",
    "#avoiding primary key duplicates\n",
    "genres_movies = genres_movies[~genres_movies.duplicated(subset=['genre_id','movie_id'])]\n",
    "\n",
    "#avoiding foreign key violation\n",
    "genres_movies = genres_movies[genres_movies['movie_id'].isin(movies_df['id'])]\n",
    "genres_movies = genres_movies[genres_movies['genre_id'].isin(genres_unique['id'])]\n",
    "\n",
    "#genres_movies.to_csv(f\"{output_path}genres_movies.csv\", index=False)\n",
    "genres_movies.to_sql('genres_movies', engine, if_exists='append', index=False)"
   ],
   "id": "17034e0b916ba859",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "761"
      ]
     },
     "execution_count": 167,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 167
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Themes dataframe normalization and sql insertion",
   "id": "6008e133f031ee03"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:27.061302Z",
     "start_time": "2024-12-28T20:42:27.051785Z"
    }
   },
   "cell_type": "code",
   "source": [
    "themes_unique = themes_df[~themes_df['theme'].duplicated()].copy()\n",
    "themes_unique['id'] = range(1,len(themes_unique) + 1)\n",
    "themes_unique = themes_unique.drop(['index'], axis=1, errors='coerce')\n",
    "\n",
    "#themes_unique.to_csv(f\"{output_path}themes.csv\", index=False)\n",
    "themes_unique.to_sql('themes', engine, if_exists='append', index=False)"
   ],
   "id": "b6fdb5b5da10a5f6",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "109"
      ]
     },
     "execution_count": 168,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 168
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Themes_movies dataframe normalization and sql insertion",
   "id": "b53ef2ad886e809"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:28.752836Z",
     "start_time": "2024-12-28T20:42:27.187460Z"
    }
   },
   "cell_type": "code",
   "source": [
    "themes_df['movie_id'] = themes_df.index\n",
    "themes_movies = themes_unique.merge(themes_df, left_on='theme', right_on='theme')\n",
    "themes_movies = themes_movies.drop(['theme','index'], axis=1, errors='coerce')\n",
    "themes_movies = themes_movies.rename(columns={'id':'theme_id'})\n",
    "\n",
    "#avoiding primary key duplicates\n",
    "themes_movies = themes_movies[~themes_movies.duplicated(subset=['theme_id','movie_id'])]\n",
    "\n",
    "#avoiding foreign key violation\n",
    "themes_movies = themes_movies[themes_movies['movie_id'].isin(movies_df['id'])]\n",
    "themes_movies = themes_movies[themes_movies['theme_id'].isin(themes_unique['id'])]\n",
    "\n",
    "#themes_movies.to_csv(f\"{output_path}themes_movies.csv\", index=False)\n",
    "themes_movies.to_sql('themes_movies', engine, if_exists='append', index=False)"
   ],
   "id": "625c7a606a469855",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "616"
      ]
     },
     "execution_count": 169,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 169
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Releases dataframe normalization and sql instertion",
   "id": "74ae2266aeec7191"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:41.118168Z",
     "start_time": "2024-12-28T20:42:28.755702Z"
    }
   },
   "cell_type": "code",
   "source": [
    "releases_unique = releases_df\n",
    "releases_unique['id'] = range(1,len(releases_unique) + 1)\n",
    "releases_unique = releases_unique.drop(['index'], axis=1, errors='coerce')\n",
    "releases_unique\n",
    "#releases_unique.to_csv(f\"{output_path}releases.csv\", index=False)\n",
    "releases_unique.to_sql('releases', engine, if_exists='append', index=False)"
   ],
   "id": "d477c533a8c4dfe5",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "781"
      ]
     },
     "execution_count": 170,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 170
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Releases_movies dataframe normalization and sql insertion",
   "id": "f107be5238126824"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-12-28T20:42:58.310885Z",
     "start_time": "2024-12-28T20:42:41.120644Z"
    }
   },
   "cell_type": "code",
   "source": [
    "releases_df['movie_id'] = releases_df.index\n",
    "releases_df = releases_df.rename(columns={'id':'release_id'})\n",
    "releases_unique = releases_unique.set_index('id')\n",
    "releases_movies = releases_unique.merge(releases_df, left_on='id', right_on='release_id')\n",
    "\n",
    "releases_movies = releases_movies.drop(\n",
    "    ['country_x', 'country_y', 'date_x', 'date_y', 'type_x', 'type_y', 'rating_x', 'rating_y', 'index'], axis=1,\n",
    "    errors='coerce')\n",
    "#avoiding primary key duplicates\n",
    "releases_movies = releases_movies[~releases_movies.duplicated(subset=['release_id', 'movie_id'])]\n",
    "\n",
    "#avoiding foreign key violation\n",
    "releases_movies = releases_movies[releases_movies['movie_id'].isin(movies_df['id'])]\n",
    "releases_movies = releases_movies[releases_movies['release_id'].isin(releases_unique.index)]\n",
    "\n",
    "releases_movies.to_sql('releases_movies', engine, if_exists='append', index=False)\n",
    "#releases_movies.to_csv(f\"{output_path}releases_movies.csv\", index=False)"
   ],
   "id": "9f01285b78782426",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "683"
      ]
     },
     "execution_count": 171,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 171
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}