In [1]:
import numpy as np
from IPython.display import Image, display
import pandas as pd

import wikipediaapi
import requests
import json


from pandas.core.interchange.dataframe_protocol import DataFrame

#engine = sa.create_engine('postgresql://postgres:1234@localhost:5432/movie')


wiki_wiki = wikipediaapi.Wikipedia('IUMTWEBProject (lorenzo.sacchetti916@edu.unito.it)', 'en')
output_path = "../normalized_tables/"

movies_df = pd.read_csv('../../dataset/movies.csv').set_index('id')
actors_df = pd.read_csv('../../dataset/actors.csv').set_index('id')
countries_df = pd.read_csv('../../dataset/countries.csv').set_index('id')
crew_df = pd.read_csv('../../dataset/crew.csv').set_index('id')
genres_df = pd.read_csv('../../dataset/genres.csv').set_index('id')
languages_df = pd.read_csv('../../dataset/languages.csv').set_index('id')
posters_df = pd.read_csv('../../dataset/posters.csv').set_index('id')
releases_df = pd.read_csv('../../dataset/releases.csv').set_index('id')
studios_df = pd.read_csv('../../dataset/studios.csv').set_index('id')
themes_df = pd.read_csv('../../dataset/themes.csv').set_index('id')

movies_df

,name,date,tagline,description,minute,rating
id,,,,,,
1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86
1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56
1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30
1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27
1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09
...,...,...,...,...,...,...
1941593,神笛,NaN,NaN,NaN,NaN,NaN
1941594,蟲極道蜜団子抗争編 壱ノ巻,NaN,NaN,Shinjuku forest at night. In the sap taverns o...,30.0,NaN
1941595,蟲極道蜜団子抗争編 弐ノ巻,NaN,NaN,"The city that never sleeps, where insects gath...",30.0,NaN
1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN
1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN

In [2]:
print("Movie columns:" , movies_df.columns)
print("Actors columns:" , actors_df.columns)
print("Countries columns:" , countries_df.columns)
print("Crew columns:" , crew_df.columns)
print("Genres columns:" , genres_df.columns)
print("Languages columns:" , languages_df.columns)
print("Posters columns:" , posters_df.columns)
print("Release columns:" , releases_df.columns)
print("Studios columns:" , studios_df.columns)
print("Themes columns:" , themes_df.columns)
#print("Oscar columns:" , oscar_awards_df.columns)
#print("Rotten columns:" , rotten_tomatoes_df.columns)

Movie columns: Index(['name', 'date', 'tagline', 'description', 'minute', 'rating'], dtype='object')
Actors columns: Index(['name', 'role'], dtype='object')
Countries columns: Index(['country'], dtype='object')
Crew columns: Index(['role', 'name'], dtype='object')
Genres columns: Index(['genre'], dtype='object')
Languages columns: Index(['type', 'language'], dtype='object')
Posters columns: Index(['link'], dtype='object')
Release columns: Index(['country', 'date', 'type', 'rating'], dtype='object')
Studios columns: Index(['studio'], dtype='object')
Themes columns: Index(['theme'], dtype='object')

# Data Cleaning
## Removing or replacing all the data that are not compliant with the dataset
### Dataset types:

fetch and cast the data to their correct type

In [3]:
movies_df.dtypes

name            object
date           float64
tagline         object
description     object
minute         float64
rating         float64
dtype: object

In [4]:
movies_df['name'] = movies_df['name'].astype(pd.StringDtype())
movies_df['tagline'] = movies_df['tagline'].astype(pd.StringDtype())
movies_df['description'] = movies_df['description'].astype(pd.StringDtype())
movies_df['date'] = movies_df['date'].astype('Int64')

In [5]:
movies_df.dtypes

name           string[python]
date                    Int64
tagline        string[python]
description    string[python]
minute                float64
rating                float64
dtype: object

In [6]:
actors_df.dtypes

name    object
role    object
dtype: object

In [7]:
actors_df['name'] = actors_df['name'].astype(pd.StringDtype())
actors_df['role'] = actors_df['role'].astype(pd.StringDtype())

In [8]:
countries_df.dtypes

country    object
dtype: object

In [9]:
countries_df['country'] = countries_df['country'].astype(pd.StringDtype())

In [10]:
crew_df.dtypes

role    object
name    object
dtype: object

In [11]:
crew_df['role'] = crew_df['role'].astype(pd.StringDtype())
crew_df['name'] = crew_df['name'].astype(pd.StringDtype())

In [12]:
genres_df.dtypes

genre    object
dtype: object

In [13]:
genres_df['genre'] = genres_df['genre'].astype(pd.StringDtype())

In [14]:
languages_df.dtypes

type        object
language    object
dtype: object

In [15]:
languages_df['type'] = languages_df['type'].astype(pd.StringDtype())
languages_df['language'] = languages_df['language'].astype(pd.StringDtype())

In [16]:
posters_df.dtypes

link    object
dtype: object

In [17]:
posters_df['link'] = posters_df['link'].astype(pd.StringDtype())

In [18]:
releases_df.dtypes

country    object
date       object
type       object
rating     object
dtype: object

In [19]:
releases_df['country'] = releases_df['country'].astype(pd.StringDtype())
releases_df['date'] = releases_df['date'].astype(pd.StringDtype())
releases_df['type'] = releases_df['type'].astype(pd.StringDtype())
releases_df['rating'] = releases_df['rating'].astype(pd.StringDtype())

In [20]:
studios_df.dtypes

studio    object
dtype: object

In [21]:
studios_df['studio'] = studios_df['studio'].astype(pd.StringDtype())

In [22]:
themes_df.dtypes

theme    object
dtype: object

In [23]:
themes_df['theme'] = themes_df['theme'].astype(pd.StringDtype())

fetching the movies without a name

In [24]:
movies_df[movies_df['name'].isna()]

,name,date,tagline,description,minute,rating
id,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN

### Movies:

by joining the subset of the movie without a name we can ensure that no reference are lost during the process (no other part of the dataset actually contain some data about those movies)

In [25]:
movies_na_subset = pd.DataFrame(movies_df[movies_df['name'].isna()])

#movies_na_subset join actors
movies_na_subset.join(actors_df, on='id', lsuffix='_movies', rsuffix='_actors')

,name_movies,date,tagline,description,minute,rating,name_actors,role
id,,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,<NA>,<NA>
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,Catherine R,Self
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>

In [26]:
#movies_na_subset join countries
movies_na_subset.join(countries_df, on='id', lsuffix='_movies', rsuffix='_countries')

,name,date,tagline,description,minute,rating,country
id,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,<NA>
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,USA
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>

In [27]:
#movies_na_subset join crew
movies_na_subset.join(crew_df, on='id', lsuffix='_movies', rsuffix='_crew')

,name_movies,date,tagline,description,minute,rating,role,name_crew
id,,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,Director,Ash Thorp
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,Composer,Ben Lukas Boysen
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,Director,Giovanni De Nava
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>

In [28]:
#movies_na_subset join genres
movies_na_subset.join(genres_df, on='id', lsuffix='_movies', rsuffix='_genres')

,name,date,tagline,description,minute,rating,genre
id,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,Animation
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Documentary
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,Documentary
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Thriller
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>

In [29]:
#movies_na_subset join languages
movies_na_subset.join(languages_df, on='id', lsuffix='_movies', rsuffix='_languages')

,name,date,tagline,description,minute,rating,type,language
id,,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,<NA>,<NA>
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Language,English
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,Language,English
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Language,English
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,Language,Burmese
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Language,English
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,Language,English
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Language,English
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Language,English
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Language,English

In [30]:
#movies_na_subset join posters
movies_na_subset.join(posters_df, on='id', lsuffix='_movies', rsuffix='_posters')

,name,date,tagline,description,minute,rating,link
id,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,https://a.ltrbxd.com/resized/film-poster/4/4/7...
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,https://a.ltrbxd.com/resized/film-poster/1/0/1...
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,https://a.ltrbxd.com/resized/film-poster/6/5/6...
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,https://a.ltrbxd.com/resized/film-poster/5/8/4...
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,https://a.ltrbxd.com/resized/film-poster/7/4/1...
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,https://a.ltrbxd.com/resized/film-poster/1/0/4...

In [31]:
#movies_na_subset join releases
movies_na_subset.join(releases_df, on='id', lsuffix='_movies', rsuffix='_releases')

,name,date_movies,tagline,description,minute,rating_movies,country,date_releases,type,rating_releases
id,,,,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,USA,2015-01-01,Theatrical,<NA>
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,USA,2008-03-02,Theatrical,PG
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>,<NA>,<NA>,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>,<NA>,<NA>,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>

In [32]:
#movies_na_subset join studios
movies_na_subset.join(studios_df, on='id', lsuffix='_movies', rsuffix='_studios')

,name,date,tagline,description,minute,rating,studio
id,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,<NA>
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,<NA>
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>

In [33]:
#movies_na_subset join themes
movies_na_subset.join(themes_df, on='id', lsuffix='_movies', rsuffix='_themes')

,name,date,tagline,description,minute,rating,theme
id,,,,,,,
1287515,<NA>,2015,<NA>,NONE is a short film that explores the balance...,4.0,NaN,<NA>
1617643,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1646521,<NA>,2008,<NA>,<NA>,NaN,NaN,<NA>
1648186,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1720295,<NA>,<NA>,<NA>,"In this directorial debut of Eden Ewardson, he...",8.0,NaN,<NA>
1725370,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1741482,<NA>,<NA>,<NA>,<NA>,90.0,NaN,<NA>
1840338,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1883229,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>
1894772,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>

## Looking at the joined table it is possible to make some correction at the dataset

movie with id 1287515: looking at the description and at the poster and after a quick search on internet it is possible to evaluate that the name of the Movie is ***NONE***, no it is possible to update the name in the table

In [34]:
display(Image(url=posters_df['link'][1287515], width=200, height=300))

In [35]:
movies_df.loc[1287515,'name'] = "NONE"

movie with id: 1720295 looking at the description and after a quick search on internet it is possible to evaluate that the name of the Movie is ***Memorandum of Softness Green***

In [36]:
movies_df.loc[1720295, 'name'] = "Memorandum of Softness Green"

movie with id 1741482: looking at the poster it is possible to name the movie: ***Sweethurt*** but this time the record for this movie is a duplicate (see 1254818) so all the reference will be deleted

In [37]:
movies_df.drop(1720295)
actors_df.drop(1720295, errors='ignore')
countries_df.drop(1720295, errors='ignore')
crew_df.drop(1720295, errors='ignore')
genres_df.drop(1720295, errors='ignore')
languages_df.drop(1720295, errors='ignore')
posters_df.drop(1720295, errors='ignore')
releases_df.drop(1720295, errors='ignore')
studios_df.drop(1720295, errors='ignore')
themes_df.drop(1720295, errors='ignore')
print()

movie with id 1840338: looking at the poster it is possible to name the movie: ***The Find*** and the director is ***Daniel Dahlstrom***

In [38]:
display(Image(url=posters_df['link'][1840338], width=200, height=300))

In [39]:
movies_df.loc[1840338,'name'] = "The Find"
crew_df.loc[1840338] = ['Director'] + ["Daniel Dahlstrom"]

movies with id: 1617643,1646521,1648186,1725370,1741482,1883229,1894772 will be deleted along with every reference

In [40]:
#multiple execution of this block could bring some errors
movies_df = movies_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772]).copy()
actors_df = actors_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
countries_df = countries_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
crew_df = crew_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
genres_df = genres_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
languages_df = languages_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
posters_df = posters_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
releases_df = releases_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
studios_df = studios_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
themes_df = themes_df.drop([1617643,1646521,1648186,1725370,1741482,1883229,1894772], errors='ignore').copy()
print()

In [41]:
movies_df[movies_df['name'].isna()]

Empty DataFrame
Columns: [name, date, tagline, description, minute, rating]
Index: []

in the dataset there are movies with same name, and description but different minute and rating. it's not safe to delete duplicate that are not equal in every column of the dataset because a movies may have been produced in different versions

In [42]:
movies_df.loc[movies_df.duplicated(subset=['name','date','description','minute','rating'])]

,name,date,tagline,description,minute,rating
id,,,,,,
1073819,Better Than Sex,2000,3 days in the life of a 1 night stand.,After a one-night stand a couple is faced with...,84.0,3.24
1073820,Amoklauf,1994,<NA>,A nameless waiter spends his days sitting arou...,65.0,NaN
1073822,Still Working 9 to 5,2022,<NA>,Examines the 40-year evolution of gender inequ...,95.0,NaN
1073823,Power On: The Story of Xbox,2021,Four gamers. One idea. And a billion dollar bet.,Xbox almost didn't happen. Find out why in thi...,NaN,3.61
1073824,Crossing the Line,2006,<NA>,"In 1962, a U.S. soldier sent to guard the peac...",94.0,3.44
...,...,...,...,...,...,...
1940234,Medo,2023,<NA>,<NA>,4.0,NaN
1940448,Riina - Le verità nascoste,2018,<NA>,<NA>,45.0,NaN
1940456,Yen Ching 燕京,2018,<NA>,An intergenerational dilemma between immigrant...,64.0,NaN
1940593,Happy Birthday!,2013,<NA>,'Misery' doesn't like 'company' -- but 'compan...,20.0,NaN
1941150,Extraños,<NA>,<NA>,<NA>,NaN,NaN

removing the duplicates

In [43]:
movies_df = (movies_df.loc[~movies_df.duplicated(subset=['name','date','description','minute','rating'])]).copy()
number_of_duplicate = movies_df.duplicated(subset=['name','date','description','minute','rating']).sum()
print("Number of duplicates:" ,number_of_duplicate)

Number of duplicates: 0

### Actors

In [44]:
actors_df

                      name                 role
id
1000001      Margot Robbie               Barbie
1000001       Ryan Gosling                  Ken
1000001    America Ferrera               Gloria
1000001  Ariana Greenblatt                Sasha
1000001           Issa Rae               Barbie
...                    ...                  ...
1941596            Marc Ma            Ba Cai/巴莱
1941596                线雨轩              Tata/塔塔
1941596       Jiang Yixuan  Zuo Yila（Zoila）/佐伊拉
1941597     Hiroshi Mikami                 <NA>
1941597      Keiko Oginome                 <NA>

[5798449 rows x 2 columns]

In [45]:
actors_df.loc[actors_df['name'].isna()]

         name            role
id
1443629  <NA>            <NA>
1469981  <NA>            Self
1474958  <NA>  Cinematography
1773264  <NA>            <NA>

there is no way to reach these names

In [46]:
actors_df = actors_df.loc[~actors_df['name'].isna()].copy()
actors_df

                      name                 role
id
1000001      Margot Robbie               Barbie
1000001       Ryan Gosling                  Ken
1000001    America Ferrera               Gloria
1000001  Ariana Greenblatt                Sasha
1000001           Issa Rae               Barbie
...                    ...                  ...
1941596            Marc Ma            Ba Cai/巴莱
1941596                线雨轩              Tata/塔塔
1941596       Jiang Yixuan  Zuo Yila（Zoila）/佐伊拉
1941597     Hiroshi Mikami                 <NA>
1941597      Keiko Oginome                 <NA>

[5798445 rows x 2 columns]

In [47]:
actors_df.duplicated(subset=['name']).count()

np.int64(5798445)

In [48]:
countries_df

             country
id
1000001           UK
1000001          USA
1000002  South Korea
1000003          USA
1000004      Germany
...              ...
1941593        China
1941594          USA
1941595          USA
1941596        China
1941597        Japan

[693475 rows x 1 columns]

In [49]:
countries_df.loc[countries_df['country'].isna()]

Empty DataFrame
Columns: [country]
Index: []

countries have a lot of duplicates because each movie could have been  recorded in one or more countries, there is no need to delete duplicates is this case

In [50]:
crew_df

                   role                  name
id
1000001        Director          Greta Gerwig
1000001        Producer          Tom Ackerley
1000001        Producer         Margot Robbie
1000001        Producer        Robbie Brenner
1000001        Producer          David Heyman
...                 ...                   ...
1941596          Editor  Eric Kwong Chi-Leung
1941596  Cinematography             Kenny Tse
1941596        Composer                   胡小欧
1941596  Costume design           Kenneth Yee
1840338        Director      Daniel Dahlstrom

[4720183 rows x 2 columns]

In [51]:
crew_df.loc[crew_df['name'].isna()]

           role  name
id
1859397  Writer  <NA>

In [52]:
crew_df = crew_df[~crew_df['name'].isna()].copy()

dataframe crew have a lot of duplicates because each crew member participated in multiple movies

In [53]:
crew_df.loc[crew_df.duplicated()]

                    role                  name
id
1000005  Camera operator           Ari Robbins
1000005           Stunts          Danny Downey
1000005            Sound           Ai-Ling Lee
1000005            Sound         Dan O'Connell
1000005      Hairstyling       Fríða Aradóttir
...                  ...                   ...
1941596          Casting                   线雨轩
1941596           Editor  Eric Kwong Chi-Leung
1941596   Cinematography             Kenny Tse
1941596   Costume design           Kenneth Yee
1840338         Director      Daniel Dahlstrom

[2907770 rows x 2 columns]

In [54]:
genres_df

             genre
id
1000001     Comedy
1000001  Adventure
1000002     Comedy
1000002   Thriller
1000002      Drama
...            ...
1941563      Drama
1941566      Crime
1941569      Crime
1941596     Action
1941596      Crime

[1046846 rows x 1 columns]

In [55]:
genres_df.loc[genres_df['genre'].isna()]

Empty DataFrame
Columns: [genre]
Index: []

In [56]:
genres_df.loc[genres_df.duplicated()]

             genre
id
1000002     Comedy
1000003  Adventure
1000003     Comedy
1000004      Drama
1000005      Drama
...            ...
1941563      Drama
1941566      Crime
1941569      Crime
1941596     Action
1941596      Crime

[1046827 rows x 1 columns]

In [57]:
languages_df

                     type  language
id
1000001          Language   English
1000002  Primary language    Korean
1000002   Spoken language   English
1000002   Spoken language    German
1000002   Spoken language    Korean
...                   ...       ...
1941593          Language   Chinese
1941594          Language   English
1941595          Language   English
1941596          Language   Chinese
1941597          Language  Japanese

[1038755 rows x 2 columns]

In [58]:
languages_df.loc[languages_df[['type','language']].isna().all(axis=1)]

Empty DataFrame
Columns: [type, language]
Index: []

In [59]:
posters_df

                                                      link
id
1000001  https://a.ltrbxd.com/resized/film-poster/2/7/7...
1000002  https://a.ltrbxd.com/resized/film-poster/4/2/6...
1000003  https://a.ltrbxd.com/resized/film-poster/4/7/4...
1000004  https://a.ltrbxd.com/resized/film-poster/5/1/5...
1000005  https://a.ltrbxd.com/resized/film-poster/2/4/0...
...                                                    ...
1941593                                               <NA>
1941594                                               <NA>
1941595  https://a.ltrbxd.com/resized/film-poster/1/1/8...
1941596  https://a.ltrbxd.com/resized/film-poster/1/1/8...
1941597                                               <NA>

[941590 rows x 1 columns]

In [60]:
posters_df.loc[posters_df['link'].isna()]

         link
id
1014019  <NA>
1015381  <NA>
1016468  <NA>
1018453  <NA>
1027194  <NA>
...       ...
1941590  <NA>
1941591  <NA>
1941593  <NA>
1941594  <NA>
1941597  <NA>

[180709 rows x 1 columns]

in this case removing the <NA> values will keep the data a bit cleaner

In [61]:
posters_df = posters_df[~posters_df['link'].isna()].copy()

In [62]:
posters_df.loc[posters_df.duplicated()]

                                                      link
id
1073819  https://a.ltrbxd.com/resized/film-poster/3/4/5...
1073820  https://a.ltrbxd.com/resized/film-poster/3/1/0...
1073822  https://a.ltrbxd.com/resized/film-poster/7/6/0...
1073823  https://a.ltrbxd.com/resized/film-poster/8/2/2...
1073824  https://a.ltrbxd.com/resized/film-poster/3/7/4...
...                                                    ...
1829507  https://a.ltrbxd.com/resized/film-poster/1/1/4...
1864503  https://a.ltrbxd.com/resized/film-poster/1/1/8...
1897229  https://a.ltrbxd.com/resized/film-poster/1/0/1...
1897230  https://a.ltrbxd.com/resized/film-poster/1/0/1...
1934309  https://a.ltrbxd.com/resized/film-poster/1/0/4...

[1286 rows x 1 columns]

removing duplicated posters

In [63]:
posters_df = posters_df[~posters_df['link'].duplicated()].copy()

In [64]:
releases_df

           country        date        type rating
id
1000001    Andorra  2023-07-21  Theatrical   <NA>
1000001  Argentina  2023-07-20  Theatrical    ATP
1000001  Australia  2023-07-19  Theatrical     PG
1000001  Australia  2023-10-01     Digital     PG
1000001    Austria  2023-07-20  Theatrical   <NA>
...            ...         ...         ...    ...
1940967        USA  1909-01-01  Theatrical   <NA>
1940968     Sweden  1908-11-11  Theatrical   <NA>
1940969     France  1902-01-01  Theatrical   <NA>
1940970     France  1902-01-01  Theatrical   <NA>
1940971     France  1902-01-01  Theatrical   <NA>

[1332781 rows x 4 columns]

In [65]:
releases_df.loc[releases_df[['country','date','type','rating']].isna().all(axis=1)]

Empty DataFrame
Columns: [country, date, type, rating]
Index: []

checking duplicates in each movie, adding index as helper column

In [66]:
releases_df['index'] = releases_df.index
releases_df.loc[releases_df.duplicated(subset=['index','country','date','type'])]

Empty DataFrame
Columns: [country, date, type, rating, index]
Index: []

removing index helper column

In [67]:
releases_df.drop(['index'], axis=1)

           country        date        type rating
id
1000001    Andorra  2023-07-21  Theatrical   <NA>
1000001  Argentina  2023-07-20  Theatrical    ATP
1000001  Australia  2023-07-19  Theatrical     PG
1000001  Australia  2023-10-01     Digital     PG
1000001    Austria  2023-07-20  Theatrical   <NA>
...            ...         ...         ...    ...
1940967        USA  1909-01-01  Theatrical   <NA>
1940968     Sweden  1908-11-11  Theatrical   <NA>
1940969     France  1902-01-01  Theatrical   <NA>
1940970     France  1902-01-01  Theatrical   <NA>
1940971     France  1902-01-01  Theatrical   <NA>

[1332781 rows x 4 columns]

In [68]:
studios_df

                          studio
id
1000001  LuckyChap Entertainment
1000001             Heyday Films
1000001           NB/GG Pictures
1000001                   Mattel
1000001    Warner Bros. Pictures
...                          ...
1941596               上海猫眼影业有限公司
1941596            坏小子（北京）传媒有限公司
1941596         亚太国影（重庆）文化传媒有限公司
1941596               凤凰传奇影业有限公司
1941596             无双（深圳）影业有限公司

[679283 rows x 1 columns]

In [69]:
studios_df.loc[studios_df['studio'].isna()]

        studio
id
1259717   <NA>
1350206   <NA>
1450762   <NA>
1565428   <NA>
1579904   <NA>
1590891   <NA>
1605792   <NA>
1648488   <NA>
1706513   <NA>
1934958   <NA>

in this case removing the <NA> values will keep the data a bit cleaner

In [70]:
studios_df = studios_df[~studios_df['studio'].isna()].copy()

In [71]:
studios_df['index'] = studios_df.index
studios_df.loc[studios_df.duplicated(subset=['index','studio'])]

                                                   studio    index
id
1000044                               Working Title Films  1000044
1000165                               Working Title Films  1000165
1000263                               Working Title Films  1000263
1000514                                            Fabula  1000514
1000547                               Working Title Films  1000547
...                                                   ...      ...
1852028                                              ARTE  1852028
1859604                                              ARTE  1859604
1863229                                        Star Media  1863229
1888903  Deutsche Film- und Fernsehakademie Berlin (DFFB)  1888903
1934998                           Ministerstvo kultury ČR  1934998

[212 rows x 2 columns]

it is possible to see that a single studio can appear multiple time in the dataframe for each movie. This could be it because a studio could have worked in different areas of the movie filming session but the dataframe does not show all the different area so the duplicates will be removed.

In [72]:
studios_df = studios_df[~studios_df['studio'].duplicated()].copy()

removing the helper column

In [73]:
studios_df.drop(['index'], axis=1)

                                     studio
id
1000001             LuckyChap Entertainment
1000001                        Heyday Films
1000001                      NB/GG Pictures
1000001                              Mattel
1000001               Warner Bros. Pictures
...                                     ...
1941514                  TCGT Entertainment
1941522  Trailblazing Films & Entertainment
1941534                         Lo Vi Films
1941596                       坏小子（北京）传媒有限公司
1941596                    亚太国影（重庆）文化传媒有限公司

[160881 rows x 1 columns]

In [74]:
themes_df

                                                     theme
id
1000001                   Humanity and the world around us
1000001                             Crude humor and satire
1000001                        Moving relationship stories
1000001     Emotional and captivating fantasy storytelling
1000001  Surreal and thought-provoking visions of life ...
...                                                    ...
1835643                         Noir and dark crime dramas
1835643        Intriguing and suspenseful murder mysteries
1849827                                 Faith and religion
1849827                       Faith and spiritual journeys
1849827              Religious faith, sin, and forgiveness

[125641 rows x 1 columns]

In [75]:
themes_df.loc[themes_df['theme'].isna()]

Empty DataFrame
Columns: [theme]
Index: []

In [76]:
themes_df['index'] = themes_df.index
themes_df.loc[themes_df.duplicated(subset=['index','theme'])]

Empty DataFrame
Columns: [theme, index]
Index: []

In [77]:
#dataloader._save_data()

In [78]:
'''
print("Movie columns:", movies_df.columns)
print("Actors columns:", actors_df.columns)
print("Countries columns:", countries_df.columns)
print("Crew columns:", crew_df.columns)
print("Genres columns:", genres_df.columns)
print("Languages columns:", languages_df.columns)
print("Posters columns:", posters_df.columns)
print("Release columns:", releases_df.columns)
print("Studios columns:", studios_df.columns)
print("Themes columns:", themes_df.columns)
#print("Oscar columns:", oscar_awards_df.columns)
#print("Rotten columns:", rotten_tomatoes_df.columns)
'''

'\nprint("Movie columns:", movies_df.columns)\nprint("Actors columns:", actors_df.columns)\nprint("Countries columns:", countries_df.columns)\nprint("Crew columns:", crew_df.columns)\nprint("Genres columns:", genres_df.columns)\nprint("Languages columns:", languages_df.columns)\nprint("Posters columns:", posters_df.columns)\nprint("Release columns:", releases_df.columns)\nprint("Studios columns:", studios_df.columns)\nprint("Themes columns:", themes_df.columns)\n#print("Oscar columns:", oscar_awards_df.columns)\n#print("Rotten columns:", rotten_tomatoes_df.columns)\n'

Movies dataframe normalization and sql insertion

In [79]:
import greenlet
movies_df['id'] = movies_df.index
movies_df.to_csv(f"{output_path}movies.csv", index=False)
#movies_df.to_sql('movies', engine, if_exists='append', index=False)

Actors dataframe normalization, data enrichment and sql insertion

In [80]:
actors_unique = actors_df[~actors_df['name'].duplicated()].copy()
actors_unique['id'] = range(1,len(actors_unique) + 1)

try:
    actors_unique = actors_unique.drop(['role'], axis=1).copy()
except:
    print("Unable to remove role")

try:
    actors_unique = actors_unique.drop(['movie_id'], axis=1).copy()
except:
    print("Unable to remove movie_id")

def actor_enrichment(actor):
    page = wiki_wiki.page(actor['name'])
    print(actor['name'])
    try:
        actor['summary'] = page.summary
    except:
        actor['summary'] = None

    try:
        actor['section'] = page.sections[0].text
    except:
        actor['section'] = None
    image_res = requests.get('https://en.wikipedia.org/w/api.php?action=query&titles='+page.title+'&prop=pageimages&format=json&pithumbsize=3000')
    image_res_parsed = json.loads(image_res.text)
    try:
        main_key = list(image_res_parsed['query']['pages'].keys())[0]
        actor['image_url'] = image_res_parsed['query']['pages'][main_key]['thumbnail']['source']
    except:
        print(actor['name'])
    return actor

#data enrichment call
#actors_unique = actors_unique.apply(actor_enrichment, axis=1)

#actors_unique.to_sql('actors', engine, if_exists='append', index=False)
actors_unique.to_csv(f"{output_path}actors.csv", index=False)
#actors ok

Unable to remove movie_id

Actors_movies normalization and sql insertion

In [81]:
actors_df['movie_id'] = actors_df.index
actors_movies = (actors_unique.merge(actors_df, left_on='name', right_on='name')).copy()
actors_movies = actors_movies.drop(['name'], axis=1, errors='coerce')
actors_movies = actors_movies.rename(columns={'id':'actor_id'})
#movie_actors is ok

#actors_unique.to_sql('actors', engine, if_exists='append', index=False)

#replacing <NA>
actors_movies = actors_movies.replace({np.nan: None})

#avoiding foreingn key violation
actors_movies = actors_movies[actors_movies['movie_id'].isin(movies_df['id'])]
actors_movies = actors_movies[actors_movies['actor_id'].isin(actors_unique['id'])]

#avoiding primary key duplicates
actors_movies = actors_movies[~actors_movies.duplicated(subset=['actor_id','movie_id'])]

#actors_movies.to_sql('actors_movies', engine, if_exists='append', index=False)
actors_movies.to_csv(f"{output_path}actors_movies.csv", index=False)

KeyboardInterrupt:

Countries dataframe normalization and sql insertion

In [82]:
countries_unique = countries_df[~countries_df['country'].duplicated()].copy()
countries_unique['id'] = range(1,len(countries_unique) + 1)
#countries_unique.set_index('id', inplace=True)
#countries_unique
#countries_unique.to_sql('countries', engine, if_exists='append', index=False)
countries_unique.to_csv(f"{output_path}countries.csv", index=False)

Countries_movies dataframe normalization and sql insertion

In [83]:
countries_df['movie_id'] = countries_df.index
countries_movies = (countries_unique.merge(countries_df, left_on='country', right_on='country')).copy()
countries_movies =  countries_movies.drop(['country'], axis=1, errors='coerce')
countries_movies = countries_movies.rename(columns={'id':'country_id'})

#avoiding foreingn key violation
countries_movies = countries_movies[countries_movies['movie_id'].isin(movies_df['id'])]

countries_movies.to_csv(f"{output_path}countries_movies.csv", index=False)
#countries_movies.to_sql('countries_movies', engine, if_exists='append', index=False)

Languages dataframe normalization and sql insertion

In [84]:
languages_unique = languages_df[~languages_df['language'].duplicated()].copy()
languages_unique = languages_unique.drop(['type'], axis=1, errors='coerce')
languages_unique['id'] = range(1,len(languages_unique) + 1)
languages_unique

languages_unique.to_csv(f"{output_path}languages.csv", index=False)
#languages_unique.to_sql('languages', engine, if_exists='append', index=False)

Languages_movies dataframe normalization and sql insertion

In [85]:
languages_df['movie_id'] = languages_df.index
languages_movies = (languages_unique.merge(languages_df, left_on='language', right_on='language')).copy()
languages_movies = languages_movies.drop(['language'], axis=1, errors='coerce')
languages_movies = languages_movies.rename(columns={'id':'language_id'})

languages_movies.to_csv(f"{output_path}languages_movies.csv", index=False)
#languages_movies.to_sql('languages_movies', engine, if_exists='append', index=False)

Crew dataframe normalization and sql insertion

In [86]:
crew_unique = crew_df[~crew_df['name'].duplicated()].copy()
countries_unique = crew_unique.drop(['role'], axis=1, errors='coerce')
crew_unique['id'] = range(1,len(crew_unique) + 1)

crew_unique.to_csv(f"{output_path}crew.csv", index=False)
#crew_unique.to_sql('crew', engine, if_exists='append', index=False)

Crew_movies dataframe normalization and sql insertion

In [87]:
crew_df['movie_id'] = crew_df.index
crew_movies = crew_unique.merge(crew_df, left_on='name', right_on='name').copy()
crew_movies = crew_movies.drop(['name'], axis=1, errors='coerce')
crew_movies = crew_movies.rename(columns={'id':'crew_id'})

crew_movies.to_csv(f"{output_path}crew_movies.csv", index=False)
#crew_movies.to_sql('crew_movies', engine, if_exists='append', index=False)

Studios dataframe normalization and sql insertion

In [88]:
studio_unique = studios_df[~studios_df['studio'].duplicated()].copy()
studio_unique = studio_unique.drop(['index'], axis=1, errors='coerce')
studio_unique['id'] = range(1,len(studio_unique) + 1)

studio_unique.to_csv(f"{output_path}studios.csv", index=False)
#studio_unique.to_sql('studio', engine, if_exists='append', index=False)

Studios_movies dataframe normalization and sql insertion

In [89]:
#studios_df['movie_id'] = studios_df.index
studio_movies = studio_unique.merge(studios_df, left_on='studio', right_on='studio').copy()
studio_movies = studio_movies.drop(['index','studio'], axis=1, errors='coerce')
studio_movies = studio_movies.rename(columns={'id':'studio_id'})

studio_movies.to_csv(f"{output_path}studios_movies.csv", index=False)
#studio_movies.to_sql('studios_movies', engine, if_exists='append', index=False)

Releases dataframe normalization and sql instertion

In [ ]:
releases_unique = releases_df
releases_unique['id'] = range(1,len(releases_unique) + 1)
releases_unique = releases_unique.drop(['index'], axis=1, errors='coerce')
releases_unique
releases_unique.to_csv(f"{output_path}releases.csv", index=False)
#releases_unique.to_sql('releases', engine, if_exists='append', index=False)

Releases_movies dataframe normalization and sql insertion

In [ ]:
releases_df['movie_id'] = releases_df.index
releases_df = releases_df.rename(columns={'id':'release_id'})
releases_unique = releases_unique.set_index('id')
releases_movies = releases_unique.merge(releases_df, left_on='id', right_on='release_id')

releases_movies = releases_movies.drop(
    ['country_x', 'country_y', 'date_x', 'date_y', 'type_x', 'type_y', 'rating_x', 'rating_y', 'index'], axis=1,
    errors='coerce')
#avoiding primary key duplicates
releases_movies = releases_movies[~releases_movies.duplicated(subset=['release_id', 'movie_id'])]

#avoiding foreign key violation
releases_movies = releases_movies[releases_movies['movie_id'].isin(movies_df['id'])]
releases_movies = releases_movies[releases_movies['release_id'].isin(releases_unique.index)]

#releases_movies.to_sql('releases_movies', engine, if_exists='append', index=False)
releases_movies.to_csv(f"{output_path}releases_movies.csv", index=False)